<html>
	<head>
        {% load staticfiles %}
		{% include "core/html_head.html" %}
        {% block headcontent %}
        {% endblock %}
	</head>
	<body>
		<div class="view activeView" id="warrior_index_view" >
			<div class="header">
                {% include "core/page_header.html" with show_quick_user=1 %}
			</div>
            {% block pagecontent %}
            {% endblock %}
        </div>
		{% include "core/index_scripts.html"%}
		{% include "core/components/about_us.html" %}
	</body>
</html>