<html>
<head>
    {% load staticfiles %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script src="{% static 'oss/js/jstree.min.js' %}"></script>
    <link rel="icon" href="{% static 'core/images/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'core/css/main_django.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway" rel="stylesheet">
    <script src="{% static 'core/js/main_django.js' %}"></script>
    {% block headcontent %}
    {% endblock %}
</head>
<body>
<nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/katana">
        <img src="{% static 'core/images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        WARRIOR
    </a>
    <div class="ml-auto">
        <i class="fas fa-cog"></i>
        <i class="fas fa-info"></i>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <i class="fas fa-user"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Profile Settings</button>
            <button class="dropdown-item" type="button">Logout</button>
        </div>
    </div>
</nav>

<div class="page-content collapsed">
    <div class="sidebar-content">
        <div class="sidebar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fas fa-puzzle-piece"></i>
                        <span>Wapps</span>
                        <i class="fas fa-chevron-down" onclick="katana.sidebar.toggleSubMenu($(this))"
                           target="wappsSubMenu"></i>
                    </div>
                </div>
                <div class="container-fluid submenu hidden" id="wappsSubMenu">
                    {% for app in apps %}
                    <div class="row" onclick="katana.sidebar.openApp($(this))" url="{{ app.data.app.url }}">
                        <div class="col-sm-12">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <i class="fas fa-{{ app.data.icon }}"></i>
                                        <span>{{ app.data.app.name }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fas fa-user"></i>
                        <span>Account</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-toggler">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fas fa-chevron-right fa-2x" onclick="katana.sidebar.toggleSidebar($(this))"></i>
                        <i class="fas fa-chevron-left fa-2x" onclick="katana.sidebar.toggleSidebar($(this))"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid reusable-component">
            <div class="row">
                <div class="col-sm-12">
                    {% block pagecontent %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>