{% load staticfiles %}


<script type="text/template" id="blankPage">
	<div class="page">
		<div class="page-content">
			<div class="page-content-inner"></div>
		</div>
	</div>
</script>
<script type="text/template" id="fileNavigator">
	<div class="page auto-init" auto-init="fileNav.init">
		<div class="page-content">
			<ul class="fileSystem">
				<li class="toggleListView fa fa-list-ul" katana-click="katana.fileNav.listViewToggle"></li>
				<li class="create fa fa-plus" katana-click="katana.templateAPI.load"></li>
				<li class="search-nav fa fa-list-ul" katana-click="katana.fileNav.searchNav"><input type="text" name="search"></li>
				<li class="directory">
					<ul>
						<li katana-click="katana.fileNav.moveDirectory"></li>
					</ul>
				</li>
				<li class="folder fa fa-folder-o" katana-click="katana.fileNav.openFolder"><span></span></li>
				<li class="file fa fa-file" katana-click="katana.fileNav.openFile"><span></span></li>
			</ul>
		</div>
	</div>
</script>
<script type="text/template" id="popupTemplate">
	<div class="popupContainer">
		<div class="popup">
			<div class="title">popUp</div>
				<span class="close" katana-click="katana.closePopup"></span>
				<div class="page-content"></div>
			</div>
		<div class="overlay" katana-click="katana.closePopup"></div>
	</div>
</script>
<script type="text/template" id="file-explorer-template">
	<div class="overlay">
		<div class="centered file-explorer">
			<div class="file-explorer-header">
				<div class="full-size">
					<h4 id="file-explorer-heading"></h4>
				</div>
			</div>
			<div class="file-explorer-body">
				<div class="up-btn-bar">
					<button id="explorer-up" class="btn btn-info">...</button>
				</div>
				<div class="directory-data-div to-scroll">
					<div id="directory-data" class="full-size"></div>
				</div>
			</div>
			<div class="file-explorer-footer">
				<div class="full-size text-center">
					<button id="explorer-accept" class="btn btn-success">OK</button>
					<button id="explorer-dismiss" class="btn btn-success">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</script>

<script>
	katana.initApp();
</script>
				
				
				
				
				