<div class="csrf-container">{% csrf_token %}</div>
<div class="title">Setup</div>
<div class="container-fluid" style="padding: 50px 0 20px 0;">
    <div class="row">
        <div class="col-sm-12">
            <p style="font-size: 0.8em; color: #5a5a5a;">
                All the user data that you generate will be stored in this location.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding: 0 0 20px 0;">
    <div class="row">
        <div class="col-sm-10">
            <input type="text" placeholder="Home Directory" value="{{ suggested_home_directory }}">
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success" style="margin-top: 6px; border-radius: 5px; background-color: rgba(35, 131, 195, 0.8); height: 32px; min-width: 40px; width: 100%;">
                <i class="fa fa-folder-open-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div>
    <button class="button" katana-click="katana.userSetup.skipSetup">Skip Setup</button>
    <button class="button">Save</button>
</div>