{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
<script type="text/javascript" src="{% static 'admin/jsi18n' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/actions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/urlify.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/prepopulate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/xregexp/xregexp.min.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Site-Wide Settings</h1>
    <p>Modification of these settings may cause the site to reboot or require a reboot.</p>
    <ul class="object-tools">
        <li>
            <a href="">Refresh</a>
        </li>
    </ul>
    <br>
    <h2>LDAP Settings</h2>
    <form enctype="multipart/form-data" id="ldap-settings-form" action method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="ldap">
        <div>
            <fieldset class="module aligned">
                <h2>LDAP Server Settings</h2>
                <div class="form-row" {% if ldap_errors %}errors{% endif %}>
                    <div class="checkbox-row">
                        {% if ldap_errors %}<ul class="errorlist"><li>All errors must be resolved before LDAP single sign on can be enabled.</li></ul>{% endif %}
                        <input type="checkbox" id="auth_ldap_enabled" name="auth_ldap_enabled"
                            value = "1" {% if ldap_enabled %}checked{% endif %}>
                        <label for="auth_ldap_enabled" class="vCheckboxLabel">Enable LDAP SSO</label>
                    </div>
                </div>
                <div class="form-row {% if ldap_errors.AUTH_LDAP_CONNECTION_CHECK %}errors{% endif %}">
                    {% if ldap_errors.AUTH_LDAP_CONNECTION_CHECK %}
                    <ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_CONNECTION_CHECK }}</li></ul>
                    {% endif %}
                    <div class="{% if ldap_errors.AUTH_LDAP_SERVER_URI %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_SERVER_URI %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_SERVER_URI }}</li></ul>{% endif %}
                        <label for="auth_ldap_server_uri">Server URI</label>
                        <input type="text" class="vLargeTextField" id="auth_ldap_server_uri" name="auth_ldap_server_uri"
                            value="{{ ldap_settings.AUTH_LDAP_SERVER_URI }}">
                    </div>
                    <br>
                    <div class="{% if ldap_errors.AUTH_LDAP_SEARCH_BASE_DN %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_SEARCH_BASE_DN %}}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_SEARCH_BASE_DN }}</li></ul>{% endif %}
                        <label for="auth_ldap_search_base_dn">Search Base DN</label>
                        <input type="text" class="vLargeTextField" id="auth_ldap_search_base_dn" name="auth_ldap_search_base_dn"
                            value="{{ ldap_settings.AUTH_LDAP_SEARCH_BASE_DN }}">
                    </div>
                    <br>
                    <div class="{% if ldap_errors.AUTH_LDAP_BIND_DN %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_BIND_DN %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_BIND_DN }}</li></ul>{% endif %}
                        <label for="auth_ldap_bind_dn">Bind DN</label>
                        <input type="text" class="vLargeTextField" id="auth_ldap_bind_dn" name="auth_ldap_bind_dn"
                            value="{{ ldap_settings.AUTH_LDAP_BIND_DN }}">
                    </div>
                    <br>
                    <div class="{% if ldap_errors.AUTH_LDAP_BIND_PASSWORD %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_BIND_PASSWORD %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_BIND_PASSWORD }}</li></ul>{% endif %}
                        <label for="auth_ldap_bind_password">Bind Password</label>
                        <input type="text" class="vLargeTextField" id="auth_ldap_bind_password" name="auth_ldap_bind_password"
                            value="{{ ldap_settings.AUTH_LDAP_BIND_PASSWORD }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="checkbox-row {% if ldap_errors.AUTH_LDAP_START_TLS %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_START_TLS %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_START_TLS }}</li></ul>{% endif %}
                        <input type="checkbox" id="auth_ldap_start_tls" name="auth_ldap_start_tls"
                            value="1" {% if ldap_settings.AUTH_LDAP_START_TLS %}checked{% endif %}>
                        <label for="auth_ldap_start_tls" class="vCheckboxLabel">Enable Start TLS</label>
                        <p class="help">If you need to upload a custom certificate file, please see the file settings form below for uploading files.</p>
                    </div>
                </div>
            </fieldset>
            <fieldset class="module aligned">
                <h2>LDAP Search Settings</h2>
                <div class="form-row">
                    <div class="{% if ldap_errors.AUTH_LDAP_USER_DN_TEMPLATE %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_USER_DN_TEMPLATE %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_USER_DN_TEMPLATE }}</li></ul>{% endif %}
                        <label for="auth_ldap_user_dn_template">User DN Template</label>
                        <input type="text" class="vLargeTextField" id="auth_ldap_user_dn_template" name="auth_ldap_user_dn_template"
                            value="{{ ldap_settings.AUTH_LDAP_USER_DN_TEMPLATE }}">
                    </div>
                    <br>
                    <div class="{% if ldap_errors.AUTH_LDAP_USER_SEARCH %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_USER_SEARCH %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_USER_SEARCH }}</li></ul>{% endif %}
                        <label for="auth_ldap_user_search">Search</label>
                        <input type="textarea" class="vLargeTextField" id="auth_ldap_user_search" name="auth_ldap_user_search"
                            value="{{ ldap_settings.AUTH_LDAP_USER_SEARCH }}">
                        <p class="help">
                            Must be a list of JSON of the form [{"search": "OU=users,DC=example,DC=com",  "filter": "(CN=%(user)s)"}, ... ]
                        </p>
                    </div>
                </div>
            </fieldset>
            <fieldset class="module aligned">
                <h2>LDAP User Settings</h2>
                <div class="form-row">
                    <div class="{% if ldap_errors.AUTH_LDAP_USER_ATTR_MAP %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_USER_ATTR_MAP %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_USER_ATTR_MAP }}</li></ul>{% endif %}
                        <label for="auth_ldap_user_attr_map">User Attribute Map</label>
                        <input type="textarea" class="vLargeTextField" id="auth_ldap_user_attr_map" name="auth_ldap_user_attr_map"
                            value="{{ ldap_settings.AUTH_LDAP_USER_ATTR_MAP }}">
                        <p class="help">
                            Must be a JSON of the form {"first_name":"&ltattribute&gt", "last_name": "&ltattribute&gt", "email": "&ltattribute&gt"}
                        </p>
                    </div>
                </div>
            </fieldset>
            <fieldset class="module aligned">
                <h2>LDAP Group Settings</h2>
                <div class="form-row">
                    <div class="{% if ldap_errors.AUTH_LDAP_GROUP_TYPE %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_GROUP_TYPE %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_GROUP_TYPE }}</li></ul>{% endif %}
                        <label for="auth_ldap_group_type">Group Type</label>
                        <select id="auth_ldap_group_type" name="auth_ldap_group_type">
                            <option value="" {% if not ldap_settings.AUTH_LDAP_GROUP_TYPE %}selected{% endif %}>None</option>
                            <option value="GroupOfNames" {% if ldap_settings.AUTH_LDAP_GROUP_TYPE == "GroupOfNames" %}selected{% endif %}>GroupOfNames</option>
                            <option value="PosixGroup" {% if ldap_settings.AUTH_LDAP_GROUP_TYPE == "PosixGroup" %}selected{% endif %}>PosixGroup</option>
                        </select>
                    </div>
                    <br>
                    <div class="{% if ldap_errors.AUTH_LDAP_GROUP_TYPE_NAME_ATTR %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_GROUP_TYPE_NAME_ATTR %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_GROUP_TYPE_NAME_ATTR }}</li></ul>{% endif %}
                        <label for="auth_ldap_group_type_name_attr">Group Type Name Attribute</label>
                        <input type="text" class="vLargeTextField" id="auth_ldap_group_type_name_attr" name="auth_ldap_group_type_name_attr"
                            value="{{ ldap_settings.AUTH_LDAP_GROUP_TYPE_NAME_ATTR }}">
                    </div>
                    <br>
                    <div class="{% if ldap_errors.AUTH_LDAP_GROUP_SEARCH %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_GROUP_SEARCH %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_GROUP_SEARCH }}</li></ul>{% endif %}
                        <label for="auth_ldap_group_search">Group Search Base DN</label>
                        <input type="text" class="vLargeTextField" id="auth_ldap_group_search" name="auth_ldap_group_search"
                            value="{{ ldap_settings.AUTH_LDAP_GROUP_SEARCH }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="{% if ldap_errors.AUTH_LDAP_REQUIRE_GROUP %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_REQUIRE_GROUP %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_REQUIRE_GROUP }}</li></ul>{% endif %}
                        <label for="auth_ldap_require_group">Required Group DN</label>
                        <input type="text" class="vLargeTextField" id="auth_ldap_require_group" name="auth_ldap_require_group"
                            value="{{ ldap_settings.AUTH_LDAP_REQUIRE_GROUP }}">
                    </div>
                    <br>
                    <div class="{% if ldap_errors.AUTH_LDAP_DENY_GROUP %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_DENY_GROUP %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_DENY_GROUP }}</li></ul>{% endif %}
                        <label for="auth_ldap_deny_group">Denied Group DN</label>
                        <input type="text" class="vLargeTextField" id="auth_ldap_deny_group" name="auth_ldap_deny_group"
                            value="{{ ldap_settings.AUTH_LDAP_DENY_GROUP }}">
                    </div>
                    <br>
                </div>
                <div class="form-row">
                    <div class="{% if ldap_errors.AUTH_LDAP_USER_FLAGS_BY_GROUP_IS_SUPERUSER %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_USER_FLAGS_BY_GROUP_IS_SUPERUSER %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_USER_FLAGS_BY_GROUP_IS_SUPERUSER }}</li></ul>{% endif %}
                        <label for="auth_ldap_user_flags_by_group_is_superuser">Superuser Group DN</label>
                        <input type="text" class="vLargeTextField" id="auth_ldap_user_flags_by_group_is_superuser" name="auth_ldap_user_flags_by_group_is_superuser"
                            value="{{ ldap_settings.AUTH_LDAP_USER_FLAGS_BY_GROUP_IS_SUPERUSER }}">
                    </div>
                    <br>
                    <div class="{% if ldap_errors.AUTH_LDAP_USER_FLAGS_BY_GROUP_IS_STAFF %}errors{% endif %}">
                        {% if ldap_errors.AUTH_LDAP_USER_FLAGS_BY_GROUP_IS_STAFF %}<ul class="errorlist"><li>{{ ldap_errors.AUTH_LDAP_USER_FLAGS_BY_GROUP_IS_STAFF }}</li></ul>{% endif %}
                        <label for="auth_ldap_user_flags_by_group_is_staff">Staff Group DN</label>
                        <input type="text" class="vLargeTextField" id="auth_ldap_user_flags_by_group_is_staff" name="auth_ldap_user_flags_by_group_is_staff"
                            value="{{ ldap_settings.AUTH_LDAP_USER_FLAGS_BY_GROUP_IS_STAFF }}">
                    </div>
                </div>
                <div class="form-row">
                    <div>
                        <label for="auth_ldap_group_mapping">LDAP to Warrior Group Mapping</label>
                        <input type="textarea" class="vLargeTextField" id="auth_ldap_group_mapping" name="auth_ldap_group_mapping"
                            value="{{ ldap_settings.AUTH_LDAP_GROUP_MAPPING }}">
                        {% if ldap_errors.AUTH_LDAP_GROUP_MAPPING %}<p>{{ ldap_errors.AUTH_LDAP_GROUP_MAPPING }}</p>{% endif %}
                        <p class="help">Must be a JSON of the form {"LDAP Group DN": "Warrior Group Name", ...}</p>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="submit-row">
            <input type="submit" value="Save and Restart" class="default" name="_save">
            <input type="submit" value="Save" class="default" name="_save">
        </div>
    </form>
    <br>
    <h2>File Settings</h2>
    <form enctype="multipart/form-data" id="file-settings-form" action method="post">
        <p></p>
        {% csrf_token %}
        <input type="hidden" name="action" value="files">
        <div>
            <fieldset class="module aligned">
                <h2>Certificate Files</h2>
                <div class="form-row {% if file_errors.ldap_cert_file %}errors{% endif %}">
                    <div class="checkbox-row">
                        {% if file_errors.ldap_cert_file %}<ul class="errorlist"><li>This file could not be updated.</li></ul>{% endif %}
                        <input type="file" id="ldap_cert_file" name="ldap_cert_file">
                        <label for="ldap_cert_file" class="vFileLabel">LDAP TLS Certificate</label>
                        <p class="help">Changing this file will trigger a server restart to take effect.</p>
                    </div>
                </div>
            </fieldset>
        <div class="submit-row">
            <input type="submit" value="Save and Restart" class="default" name="_save">
            <input type="submit" value="Save" class="default" name="_save">
        </div>
    </form>
    <br>
    <h2>Email Settings</h2>
    <form enctype="multipart/form-data" id="email-settings-form" action method="post">
        <p></p>
        {% csrf_token %}
        <input type="hidden" name="action" value="email">
        <div>
            <fieldset class="module aligned">
                <h2>SMTP Server Settings</h2>
                <div class="form-row">
                    <div>
                        <label for="email_host">Host</label>
                        <input type="text" class="vLargeTextField" id="email_host" name="email_host"
                            value="{{ email_settings.EMAIL_HOST }}">
                    </div>
                    <br>
                    <div>
                        <label for="email_port">PORT</label>
                        <input type="text" class="vLargeTextField" id="email_port" name="email_port"
                            value="{{ email_settings.EMAIL_PORT }}">
                    </div>
                    <br>
                    <div>
                        <label for="email_host_user">USERNAME</label>
                        <input type="text" class="vLargeTextField" id="email_host_user" name="email_host_user"
                            value="{{ email_settings.EMAIL_HOST_USER }}">
                    </div>
                    <br>
                    <div>
                        <label for="email_host_password">PASSWORD</label>
                        <input type="text" class="vLargeTextField" id="email_host_password" name="email_host_password"
                            value="{{ email_settings.EMAIL_HOST_PASSWORD }}">
                    </div>
		    <br>
                    <div>
                        <label for="default_from_email">FROM EMAIL</label>
                        <input type="text" class="vLargeTextField" id="default_from_email" name="default_from_email"
                            value="{{ email_settings.DEFAULT_FROM_EMAIL }}">
                    </div>
		    <br>
                    <div class="checkbox-row">
                        <input type="checkbox" id="email_use_tls" name="email_use_tls"
                            value = "1" {% if email_settings.EMAIL_USE_TLS %}checked{% endif %}>
                        <label for="email_use_tls" class="vCheckboxLabel">USE TLS</label>
                    </div>
            </fieldset>
        </div>
        <div class="submit-row">
            <input type="submit" value="Save" class="default" name="_save">
        </div>
    </form>
</div>
{% endblock %}
