{% extends 'core/base_index_django.html' %}

{% block headcontent %}
<title>User Settings</title>
{% load staticfiles %}
{% endblock %}
{% block pagecontent %}
<div class="card h-100">
  <div class="card-header">
    <h3>Password Change</h3>
  </div>
  <div class="card-body">
    <div class="card-text row">
        <form class="col-10" action="" method="post" role="form" id="user-password-change-form">
          {% csrf_token %}
          {% for message in messages %}
          <h5 class="card-title">{{ message }}</h5>
          {% endfor %}
          {% if form.errors %}
          <p>
            {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
          </p>
          {% endif %}
          {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field.errors }}
            {{ field }}
            {% if field.help_text %}
            <div class="form-text text-muted">{{ field.help_text|safe }}</div>
            {% endif %}
          </div>
          {% endfor %}
        </form>
    </div>
    <div class="row">
      <div class="col-3">
        <button form="user-password-change-form" type="submit" class="btn btn-primary btn-block">Save Changes</button>
        <a href="/katana/accounts/profile/" class="btn btn-primary btn-block">Return to Profile</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
