<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testwrapper</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'testwrapper/css/cases.css' %}">
</head>
<body>
<div class="tool-bar">
    <div class="title"></div>
    <button class="button" katana-click="setupcases.landing.openNewFile">New</button>
    <button class="button" katana-click="setupcases.caseViewer.close" style="display: none">Close</button>
    <button class="button" katana-click="setupcases.caseViewer.save" style="display: none">Save</button>
</div>
<div class="csrf-container">{% csrf_token %}</div>
<div class="tab-template only">TestWrapper</div>

<div id="body-div" auto-init="setupcases.landing.init">
    <div id="tree-div"></div>
    <div id="main-div" style="display: none">

    </div>
</div>

</body>
</html>