{% load testwrapper_filters %}
<div class="cases-intentional-space" id="details_drawer_template-cleanup" style="display: none;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Name<span>*</span></label>
            </div>
            <div class="field col-sm-9">
                <input key="Name" title="Name of the Case" validation-check="cleanupcases.validations.checkIfEmpty">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Title<span>*</span></label>
            </div>
            <div class="field col-sm-9">
                <input key="Title" title="Title of the Case" validation-check="cleanupcases.validations.checkIfEmpty">
            </div>
        </div>


        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Engineer<span>*</span></label>
            </div>
            <div class="field col-sm-9">
                <input key="Engineer" title="Name of the Engineer who developed this Case" validation-check="cleanupcases.validations.checkIfEmpty">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Date</label>
            </div>
            <div class="col-sm-9">
                <input key="Date" disabled title="Last modified date">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Time</label>
            </div>
            <div class="col-sm-9">
                <input key="Time" disabled title="Last modified time">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Data Type<span>*</span></label>
            </div>
            <div class="col-sm-9">
                <select key="Datatype" katana-change="cleanupcases.detailsEditor.updateIterationTypeStepTmpl" title="Data Type of the testcase">
                    {% for value in defaults.details.datatypes %}
                    <option>{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

    </div>
</div>