{% load testwrapper_filters %}
<div class="cases-intentional-space" id="steps_drawer_template-cleanup" style="display: none;" key="step">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Step Number</label>
            </div>
            <div class="col-sm-9">
                <input disabled key="@TS" title="Step number">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Driver<span>*</span></label>
            </div>
            <div class="field col-sm-9">
                <input list="drivers" key="@Driver" katana-change="cleanupcases.stepEditor.getKeywords"
                       title="Name of the Driver" validation-check="cleanupcases.validations.checkIfEmpty">

                <datalist id="drivers">
                    {% for driver in drivers %}
                    <option>{{ driver }}</option>
                    {% endfor %}
                </datalist>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Keyword<span>*</span></label>
            </div>
            <div class="field col-sm-9">
                <input list="keywords" key="@Keyword" katana-change="cleanupcases.stepEditor.getArgumentsEtc"
                       title="Name of the Keyword" validation-check="cleanupcases.validations.checkIfEmpty">
                <datalist id="keywords"/>
            </div>
        </div>

        <div class="row" style="display: none;">
            <div class="col-sm-3">
                <label class="cases-label">Signature</label>
            </div>
             <div class="col-sm-9">
                 <textarea class="modified-textarea" disabled title="Function Signature of the Keyword"></textarea>
             </div>
        </div>

         <div class="row" style="display: none;">
            <div class="col-sm-3">
                <label class="cases-label">Arguments</label>
            </div>
             <div class="col-sm-9">
                 <div class="container-fluid">
                     <div class="row" id="arg-template-cleanup" style="display: none;">
                         <div class="col-sm-4 cases-arg-label">
                            <label class="cases-label" key="Arguments.argument.@name"></label>
                        </div>
                        <div class="col-sm-8">
                            <input key="Arguments.argument.@value" title="Value of the Argument">
                        </div>
                     </div>
                 </div>
             </div>
        </div>

        <div class="row" style="display: none;">
            <div class="col-sm-3">
                <label class="cases-label">WDescription</label>
            </div>
             <div class="col-sm-9">
                 <textarea class="modified-textarea" disabled title="WDescription of the Keyword"></textarea>
             </div>
        </div>

        <div class="row" style="display: none;">
            <div class="col-sm-3">
                <label class="cases-label">Comments</label>
            </div>
             <div class="col-sm-9">
                 <textarea disabled title="Keyword Documentation"></textarea>
             </div>
        </div>

         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Description</label>
            </div>
            <div class="col-sm-9">
                <input key="Description" title="Provide a description for the Step here.">
            </div>
        </div>

         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Execute</label>
            </div>
            <div class="col-sm-9">
                <select key="Execute.@ExecType" katana-change="cleanupcases.stepEditor.updateRules"
                        current-value="{{defaults.step.execute_types.0}}" title="State if this Step should be Executed">
                    {% for exec_type in defaults.step.execute_types %}
                    <option>{{ exec_type }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

         <div class="row" style="display: none;">
            <div class="col-sm-3">
                <label class="cases-label"></label>
            </div>
            <div class="col-sm-9">
                <div class="container-fluid" id="rule-template-cleanup" style="display: none;">
                     <div class="row">
                         <div class="col-sm-4 cases-arg-label">
                             <label class="cases-label">Condition<span>*</span></label>
                        </div>
                        <div class="field col-sm-8">
                            <input key="Execute.Rule.@Condition" title="Provide a condition for the Step's execution"
                                   validation-check="cleanupcases.validations.checkIfEmpty" display-parent="true">
                        </div>
                     </div>
                    <div class="row">
                         <div class="col-sm-4 cases-arg-label">
                            <label class="cases-label">Condition Value<span>*</span></label>
                        </div>
                        <div class="field col-sm-8">
                            <input key="Execute.Rule.@Condvalue" title="Provide a value for the condition above"
                                   validation-check="cleanupcases.validations.checkIfEmpty" display-parent="true">
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-sm-4 cases-arg-label">
                            <label class="cases-label">Else<span>*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <select key="Execute.Rule.@Else" katana-change="cleanupcases.stepEditor.updateRuleElseValue"
                                    title="Provide a way to handle STep execution in case of the Condition above not being met">
                                {% for exec_else in defaults.step.execute_elses %}
                                <option>{{ exec_else }}</option>
                                {% endfor %}
                            </select>
                        </div>
                     </div>
                    <div class="row" style="display: none;">
                         <div class="col-sm-4 cases-arg-label">
                            <label class="cases-label">Else Value<span>*</span></label>
                        </div>
                        <div class="field col-sm-8">
                            <input key="Execute.Rule.@Elsevalue" title="Go to step number"
                                   validation-check="cleanupcases.validations.checkIfEmptyOrNaN" display-parent="true">
                        </div>
                     </div>
                    <hr>
                 </div>
            </div>
        </div>

         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Run Mode</label>
            </div>
            <div class="col-sm-9">
                <select key="runmode.@type" katana-change="cleanupcases.stepEditor.updateRunmode" title="State the runmode for this Step">
                    {% for runmode in defaults.step.run_modes %}
                    <option>{{ runmode }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

         <div class="row" style="display: none;">
            <div class="col-sm-3">
                <label class="cases-label"></label>
            </div>
            <div class="col-sm-9">
                <div class="container-fluid" id="runmode-value-template">
                     <div class="row">
                         <div class="col-sm-4 cases-arg-label">
                             <label class="cases-label">Value<span>*</span></label>
                        </div>
                        <div class="field col-sm-8">
                            <input key="runmode.@value" title="State the run mode value"
                                   validation-check="cleanupcases.validations.checkIfEmptyOrNaN" display-parent="true">
                        </div>
                     </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Iteration Type</label>
            </div>
            <div class="col-sm-9">
                <select key="Iteration_type.@type" {% if data.Testcase.Details.Datatype != "Hybrid" %} disabled {% endif %}
                        title="State the Iteration Type for this Step">
                    {% for iter_type in defaults.step.iteration_types %}
                    <option>{{ iter_type }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Context</label>
            </div>
            <div class="col-sm-9">
                <select key="context" title="State the context for evaluation the result of this Step">
                    {% for context in defaults.step.contexts %}
                    <option>{{ context }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">Impact</label>
            </div>
            <div class="col-sm-9">
                <select key="impact" title="State whether the result of this step impacts the entire Case">
                    {% for impact in defaults.step.impacts %}
                    <option>{{ impact }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label class="cases-label">On Error</label>
            </div>
            <div class="col-sm-9">
                <select key="onError.@action" katana-change="cleanupcases.stepEditor.updateOnErrorValue"
                        title="State the on error mechanism for this step">
                    {% for error in defaults.step.on_errors %}
                    <option>{{ error }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

         <div class="row" style="display: none;">
            <div class="col-sm-3">
                <label class="cases-label"></label>
            </div>
            <div class="col-sm-9">
                <div class="container-fluid" id="on-error-value-template">
                     <div class="row">
                         <div class="col-sm-4 cases-arg-label">
                             <label class="cases-label">Go To Step<span>*</span></label>
                        </div>
                        <div class="field col-sm-8">
                            <input key="onError.@value" title="Go to step number"
                                   validation-check="cleanupcases.validations.checkIfEmptyOrNaN" display-parent="true">
                        </div>
                     </div>
                </div>
            </div>
        </div>

    </div>
</div>