{% load testwrapper_filters %}
<div class="cases-intentional-space-x cases-extra-left-padding" id="cases-steps-template-debug">
    <div class="cases-internal-section">
        <div class="cases-step-table-parent">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-1" scope="col" >Step #</th>
                    <th class="col-sm-1" scope="col" >Repo</th>
                    <th class="col-sm-1" scope="col" >Driver</th>
                    <th class="col-sm-1" scope="col" >Keyword</th>
                    <th class="col-sm-1 desc" scope="col" >Arguments</th>
                    <th class="col-sm-1 desc" scope="col" >Description</th>
                    <th class="col-sm-1 desc" scope="col" >Execute </th>
                    <th class="col-sm-1" scope="col" >Run Mode</th>
                    <th class="col-sm-1" scope="col" >Iteration Type</th>
                    <th class="col-sm-1" scope="col" >Context</th>
                    <th class="col-sm-1" scope="col" >Impact</th>
                    <th class="col-sm-1" scope="col" >On Error</th>
                </tr>
                </thead>
                <tbody>
                <!--this is for multiple steps start here  -->
                {% if data.TestWrapper.Debug.step|get_attribute_new == "list" %}
                {% for step in data.TestWrapper.Debug.step %}
                <tr katana-click="debugcases.stepSection.selectStep" key="step">
                    <td class="col-sm-1"  key="@TS">{{ forloop.counter }}</td>
                      {% if step|get_attribute_repo == "norm" %}
                    <td class="col-sm-1" key="@Repo">{{ step|get_attribute:"Repo" }}</td>
                    {% endif %}
                    {% if step|get_attribute_repo == "empty" %}
                    <td class="col-sm-1" key="@Repo">warrior</td>
                    {% endif %}
                    <td class="col-sm-1" key="@Driver">{{ step|get_attribute:"Driver" }}</td>
                    <td class="col-sm-1" key="@Keyword">{{ step|get_attribute:"Keyword" }}</td>
                    <td class="col-sm-1" key="Arguments">
                        {% if step.Arguments.argument|get_attribute_new == "list" %}
                        {% for arg in step.Arguments.argument %}
                        <div key="Arguments.argument">
                            <span key="Arguments.argument.@name">{{ arg|get_attribute:"name" }}</span>
                            <span> = </span>
                            <span key="Arguments.argument.@value">{{ arg|get_attribute:"value" }}</span>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% if step.Arguments.argument|get_attribute_new == "str" %}
                        <div key="Arguments.argument">
                            <span key="Arguments.argument.@name">{{ step.Arguments.argument|get_attribute:"name" }}</span>
                            <span> = </span>
                            <span key="Arguments.argument.@value">{{ step.Arguments.argument|get_attribute:"value" }}</span>
                        </div>
                        {% endif %}
                    </td>
                    <td class="col-sm-1" key="Description">{{ step.Description }}</td>
                    <td class="col-sm-1">
                        <span key="Execute.@ExecType">{{ step.Execute|get_attribute:"ExecType" }}</span><br>
                        {% if step.Execute|get_attribute:"ExecType" == "If" or step.Execute|get_attribute:"ExecType" == "If Not" %}
                        {% for rule in step.Execute.Rule %}
                        <span key="Execute.Rule">
                            <br>
                            Condition = <span key="Execute.Rule.@Condition">{{ rule|get_attribute:"Condition" }}</span>
                            <br>
                            Condition Value = <span key="Execute.Rule.@Condvalue">{{ rule|get_attribute:"Condvalue" }}</span>
                            <br>
                            Else = <span key="Execute.Rule.@Else">{{ rule|get_attribute:"Else"|convert_on_errors}}</span>
                            <br>
                            Else Value = <span key="Execute.Rule.@Elsevalue">{{ rule|get_attribute:"Elsevalue" }}</span>
                        </span>
                        <br>
                        {% endfor %}
                        {% endif %}
                    </td>
                    {% if step.runmode %}
                    <td class="col-sm-1">
                        <span key="runmode.@type"> {{ step.runmode|get_attribute:"type"|convert_runmodes }} </span>
                        {% if step.runmode|get_attribute:"type"|convert_runmodes != "Standard" %}
                        <span> = </span>
                        <span key="runmode.@value"> {{ step.runmode|get_attribute:"value" }} </span>
                        {% endif %}
                    </td>
                    {% else %}
                    <td class="col-sm-1">
                        <span key="runmode.@type"> Standard</span>

                    </td>
                    {% endif %}
                    {% if step.Iteration_type%}
                    <td class="col-sm-1">
                        <div key="Iteration_type.@type">{{ step.Iteration_type|get_attribute:"type"|convert_iteration_types }} </div>
                    </td>
                    {% else %}
                    <td class="col-sm-1">
                        <div key="Iteration_type.@type">Standard </div>
                    </td>
                    {% endif %}
                    <td class="col-sm-1" key="context">{{ step.context|convert_contexts }}</td>
                    <td class="col-sm-1" key="impact">{{ step.impact|convert_impacts }}</td>
                    <td class="col-sm-1">
                        <span key="onError.@action"> {{ step.onError|get_attribute:"action"|convert_on_errors }} </span>
                        {% if step.onError|get_attribute:"action"|convert_on_errors == "Go To" %}
                        <span> = </span>
                        <span key="onError.@value"> {{ step.onError|get_attribute:"value" }} </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                <!--multiple steps ends here -->

                <!-- processing single step start here-->
                {% if data.TestWrapper.Debug.step|get_attribute_new == "str" %}
                <tr katana-click="debugcases.stepSection.selectStep" key="step">
                    <td class="col-sm-1"  key="@TS">{{ 1 }}</td>
                      {% if data.TestWrapper.Debug.step|get_attribute_repo == "norm" %}
                    <td class="col-sm-1" key="@Repo">{{ data.TestWrapper.Debug.step|get_attribute:"Repo" }}</td>
                    {% endif %}
                    {% if data.TestWrapper.Debug.step|get_attribute_repo == "empty" %}
                    <td class="col-sm-1" key="@Repo">warrior</td>
                    {% endif %}
                    <td class="col-sm-1"  key="@Driver">{{ data.TestWrapper.Debug.step|get_attribute:"Driver" }}</td>
                    <td class="col-sm-1"  key="@Keyword">{{ data.TestWrapper.Debug.step|get_attribute:"Keyword" }}</td>
                    <td class="col-sm-1"  key="Arguments">
                        {% if data.TestWrapper.Debug.step.Arguments.argument|get_attribute_new == "list" %}
                        {% for arg in data.TestWrapper.Debug.step.Arguments.argument %}
                        <div key="Arguments.argument">
                            <span key="Arguments.argument.@name">{{ arg|get_attribute:"name" }}</span>
                            <span> = </span>
                            <span key="Arguments.argument.@value">{{ arg|get_attribute:"value" }}</span>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% if data.TestWrapper.Debug.step.Arguments.argument|get_attribute_new == "str" %}
                        <div key="Arguments.argument">
                            <span key="Arguments.argument.@name">{{ data.TestWrapper.Debug.step.Arguments.argument|get_attribute:"name" }}</span>
                            <span> = </span>
                            <span key="Arguments.argument.@value">{{ data.TestWrapper.Debug.step.Arguments.argument|get_attribute:"value" }}</span>
                        </div>
                        {% endif %}
                    </td>
                    <td class="col-sm-1"  key="Description">{{ data.TestWrapper.Debug.step.Description }}</td>
                    <td class="col-sm-1">
                        <span key="Execute.@ExecType">{{ data.TestWrapper.Debug.step.Execute|get_attribute:"ExecType" }}</span><br>
                        {% if data.TestWrapper.Debug.step.Execute|get_attribute:"ExecType" == "If" or data.TestWrapper.Debug.step.Execute|get_attribute:"ExecType" == "If Not" %}
                        {% for rule in data.TestWrapper.Debug.step.Execute.Rule %}
                        <span key="Execute.Rule">
                            <br>
                            Condition = <span key="Execute.Rule.@Condition">{{ rule|get_attribute:"Condition" }}</span>
                            <br>
                            Condition Value = <span key="Execute.Rule.@Condvalue">{{ rule|get_attribute:"Condvalue" }}</span>
                            <br>
                            Else = <span key="Execute.Rule.@Else">{{ rule|get_attribute:"Else"|convert_on_errors}}</span>
                            <br>
                            Else Value = <span key="Execute.Rule.@Elsevalue">{{ rule|get_attribute:"Elsevalue" }}</span>
                        </span>
                        <br>
                        {% endfor %}
                        {% endif %}
                    </td>
                    {% if data.TestWrapper.Debug.step.runmode %}
                    <td class="col-sm-1" >
                        <span key="runmode.@type"> {{ data.TestWrapper.Debug.step.runmode|get_attribute:"type"|convert_runmodes }} </span>
                        {% if data.TestWrapper.Debug.step.runmode|get_attribute:"type"|convert_runmodes != "Standard" %}
                        <span> = </span>
                        <span key="runmode.@value"> {{ data.TestWrapper.Debug.step.runmode|get_attribute:"value" }} </span>
                        {% endif %}
                    </td>
                    {% else %}
                    <td class="col-sm-1" >
                        <span key="runmode.@type"> Standard </span>
                    </td>
                    {% endif %}

                    {% if data.TestWrapper.Debug.step.Iteration_type %}
                    <td class="col-sm-1" >
                        <div key="Iteration_type.@type">{{ data.TestWrapper.Debug.step.Iteration_type|get_attribute:"type"|convert_iteration_types }} </div>
                    </td>
                    {% else %}
                    <td class="col-sm-1" >
                        <div key="Iteration_type.@type"> Standard </div>
                    </td>
                    {% endif %}
                    <td class="col-sm-1"  key="context">{{ data.TestWrapper.Debug.step.context|convert_contexts }}</td>
                    <td class="col-sm-1"  key="impact">{{ data.TestWrapper.Debug.step.impact|convert_impacts }}</td>
                    <td class="col-sm-1" >
                        <span key="onError.@action"> {{ data.TestWrapper.Debug.step.onError|get_attribute:"action"|convert_on_errors }} </span>
                        {% if data.TestWrapper.Debug.step.onError|get_attribute:"action"|convert_on_errors == "Go To" %}
                        <span> = </span>
                        <span key="onError.@value"> {{ data.TestWrapper.Debug.step.onError|get_attribute:"value" }} </span>
                        {% endif %}
                    </td>
                </tr>

                {% endif %}
                <!--processing single steps ends here -->
                </tbody>

            </table>
        </div>

        <div class="cases-step-toolbar">
            <div katana-click="debugcases.stepSection.toolbar.editStep" title="Select a step to edit it">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <div katana-click="debugcases.stepSection.toolbar.insertStep" title="Select a step to insert above it">
                <i class="fa fa-reply" aria-hidden="true"></i>
            </div>
            <div katana-click="debugcases.stepSection.toolbar.deleteStep" title="Select a step or multiple steps to delete it/them">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
            <div katana-click="debugcases.stepSection.toolbar.multiselect" title="Toggle between selecting single and multiple steps">
                <i class="fa fa-th-list badged" aria-hidden="true" multiselect="on">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </i>
            </div>
        </div>

    </div>
    <script id="step-row-template-debug" type="text/html">
        <tr katana-click="debugcases.stepSection.selectStep" key="step">
            <td class="col-sm-1"  key="@TS"></td>
            <td class="col-sm-1"  key="@Repo"></td>
            <td class="col-sm-1"  key="@Driver"></td>
            <td class="col-sm-1"  key="@Keyword"></td>
            <td class="col-sm-1"  key="Arguments">
                <div key="Arguments.argument">
                    <span key="Arguments.argument.@name"></span>
                    <span> = </span>
                    <span key="Arguments.argument.@value"></span>
                </div>
            </td>
            <td class="col-sm-1"  key="Description"></td>
            <td class="col-sm-1">
                <span key="Execute.@ExecType"></span>
                <br>
                <span key="Execute.Rule">
                    <br>
                    Condition = <span key="Execute.Rule.@Condition"></span>
                    <br>
                    Condition Value = <span key="Execute.Rule.@Condvalue"></span>
                    <br>
                    Else = <span key="Execute.Rule.@Else"></span>
                    <br>
                    Else Value = <span key="Execute.Rule.@Elsevalue"></span>
                </span>
                <br>
            </td>
            <td class="col-sm-1">
                <span key="runmode.@type"></span>
                <span> = </span>
                <span key="runmode.@value"></span>
            </td>
            <td class="col-sm-1">
                <div key="Iteration_type.@type"></div>
            </td>
            <td class="col-sm-1"  key="context"></td>
            <td class="col-sm-1"  key="impact"></td>
            <td class="col-sm-1" >
                <span key="onError.@action"></span>
                <span> = </span>
                <span key="onError.@value"></span>
            </td>
        </tr>
    </script>
</div>