/*****************************/
/* Globals */
@import 'globals';
/* Standard Page Styling Start */

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../../../../../static/oss/raleway-v12-latin/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('../../../../../static/oss/raleway-v12-latin/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../../../static/oss/raleway-v12-latin/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../../../static/oss/raleway-v12-latin/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../../../../static/oss/raleway-v12-latin/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../../../static/oss/raleway-v12-latin/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../../../../../static/oss/lato-v14-latin/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../../../../../static/oss/lato-v14-latin/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../../../static/oss/lato-v14-latin/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../../../static/oss/lato-v14-latin/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../../../../static/oss/lato-v14-latin/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../../../static/oss/lato-v14-latin/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../../../../../static/oss/montserrat-v12-latin/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../../../../../static/oss/montserrat-v12-latin/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../../../static/oss/montserrat-v12-latin/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../../../static/oss/montserrat-v12-latin/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../../../../static/oss/montserrat-v12-latin/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../../../static/oss/montserrat-v12-latin/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Raleway', 'Lato', 'Montserrat', Helvetica, Arial, sans-serif !important;
}

/* Standard Page Styling End */
/*****************************/

/*****************************/
/* Main Navbar Styling Start */

.navbar {
    color: $navbar-color;
    > .ml-auto > i {
      padding-right: 1rem;
      cursor: pointer;
    }
}

.navbar-brand {
    color: $navbar-color;
}

.dropdown-menu-right {
    right: 0;
    left: unset;
}

/* Main Navbar Styling End */
/***************************/

/***********************************/
/* Full Page Content Styling Start */

.page-content {
    width: 100%;
    height: calc(100% - #{$navbar-height});
}

.hidden {
    display: none;
}

/* Full Page Content Styling End */
/*********************************/

/******************************/
/* Main Sidebar Styling Start */

.sidebar-content {
    height: 100%;
    float: left;
    > .sidebar {
        height: calc(100% - #{$navbar-height});
    }
    > .sidebar-toggler > .container-fluid > .row > .col-sm-12 > i {
        line-height: 40px;
    }
}

.sidebar {
    top: $navbar-height;
    z-index: 1020;
    display: block;
    background-color: $sidebar-background-color;
    border-right: 1px solid $sidebar-border-color;
    height: 100%;
    width: 100%;
}

/*-------Expanded Sidebar Styling Start------*/
.expanded {
    >.sidebar-content {
        width: $sidebar-width;
        > .sidebar-toggler {
            height: $navbar-height;
            background-color: $sidebar-toggler-background-color;
            padding-top: 8px;
            padding-bottom: 8px;
            color: $sidebar-toggler-color;
            text-align: right;
            > .container-fluid > .row > .col-sm-12 {
                text-align: right;
                    > i:first-child{
                    display: none;
                }
            }
        }
        > .sidebar {
            > .container-fluid {
                padding: 0;
                > .row {
                    padding: 0 15px;
                    > .col-sm-12 {
                        height: $sidebar-item-height;
                        &:hover {
                            background-color: $sidebar-hover-background-color;
                            color: $sidebar-hover-color;
                            cursor: pointer;
                        }
                        > i, span {
                            line-height: $sidebar-item-height;
                        }
                        > span {
                            padding: 0 10px;
                        }
                        > .container-fluid {
                            > .row > .col-sm-12 > span {
                                padding: 0 10px;
                            }
                        }
                        > i:nth-child(3) {
                            float: right;
                            line-height: $sidebar-item-height;
                        }
                    }
                }
                > .submenu {
                    background-color: $sidebar-submenu-background-color;
                    > .row {
                        &:hover {
                            background-color: $sidebar-submenu-hover-background-color;
                            color: $sidebar-submenu-color;
                            cursor: pointer;
                        }
                        > .col-sm-12 > .container-fluid > .row > .col-sm-12 > span {
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }
    > .content {
        width: calc(100% - #{$sidebar-width});
    }
}

/*-------Expanded Sidebar Styling End------*/

/*-------Collapsed Sidebar Styling Start------*/

.collapsed {
    > .sidebar-content {
        width: $sidebar-collapsed-width;
        overflow-x: hidden;
        > .sidebar {
            overflow-x: hidden;
            > .container-fluid {
                > .row > .col-sm-12 {
                    height: $sidebar-collapsed-item-height;
                    text-align: center;
                    > i {
                        line-height: $sidebar-collapsed-item-height;
                    }
                    > i:nth-child(3) {
                        display: none;
                    }
                    > span {
                        display: none;
                    }
                }
                > .row:hover {
                    background-color: $sidebar-submenu-hover-background-color;
                    color: $sidebar-submenu-color;
                    cursor: pointer;
                }
                > .submenu {
                    display: none;
                }
            }

        }
        > .sidebar-toggler {
            height: $navbar-height;
            background-color: $sidebar-toggler-background-color;
            padding-top: 8px;
            padding-bottom: 8px;
            color: $sidebar-toggler-color;
            text-align: center;
            > .container-fluid > .row > .col-sm-12 {
                text-align: center;
                > i:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

/*-------Collapsed Sidebar Styling End------*/

/* Main Sidebar Styling End*/
/***************************/

/*****************************/
/* Main Content Styling Start*/

.content {
    width: calc(100% - #{$sidebar-collapsed-width});
    height: 100%;
    float: left;
    overflow: auto;
    > .container-fluid > .row > .col-sm-12 {
        padding: 0;
    }
}

.navbar-internal {
    background-color: $navbar-internal-background-color;
}

.reusable-component > .row > .col-sm-12 {
    padding: 0;
    overflow: auto;
}

.sidebar-internal {
    height: 100%;
    width: $sidebar-internal-width;
    background-color: $sidebar-internal-background-color;
    overflow: auto;
}

.main-content {
    height: calc(100% - #{$navbar-height});
    width: 100%;
    > div:first-child {
        width: $sidebar-width;
        height: 100%;
        float: left;
    }
    > div:nth-child(2) {
        width: calc(100% - #{$sidebar-width});
        height: 100%;
        float: left;
        overflow: auto;
    }
}

.one_rem_padding {
    padding: 1rem;
}
/* Main Content Styling End*/
/***************************/