body {
    font-family: 'Raleway', 'Lato', 'Montserrat', Helvetica, Arial, sans-serif !important;
}

.navbar {
    color: white;
}

.navbar > .ml-auto > i {
    padding-right: 1rem;
    cursor: pointer;
}

.navbar-brand {
    color: white !important;
}

.dropdown-menu-right {
    right: 0;
    left: unset;
}

.sidebar {
    top: 56px;
    z-index: 1020;
    display: block;
    background-color: #f6f6f6;
    border-right: 1px solid #eee;
    height: 100%;
    width: 100%;
}

.page-content {
    width: 100%;
    height: calc(100% - 56px)
}

.sidebar-content {
    width: 75px;
    height: 100%;
    float: left;
    overflow: auto;
}

.content {
    width: calc(100% - 75px);
    height: 100%;
    float: left;
    overflow: auto;
}

.active >.sidebar-content {
    width: 300px;
}

.active > .content {
    width: calc(100% - 300px);
}

.active > .sidebar-content > .sidebar > .container-fluid > .row > .col-sm-12 {
    height: 50px;
}

.active > .sidebar-content > .sidebar > .container-fluid > .row > .col-sm-12 > .container-fluid {
    height: 100%;
}

.active > .sidebar-content > .sidebar > .container-fluid > .row > .col-sm-12 > .container-fluid > .row {
    height: 100%;
}

.active > .sidebar-content > .sidebar > .container-fluid > .row > .col-sm-12 > .container-fluid > .row > div {
    height: 100%;
    padding: 0;
    text-align: center;
}

.active > .sidebar-content > .sidebar > .container-fluid > .row > .col-sm-12 > .container-fluid > .row > div > i, span{
    line-height: 50px;
}