language: python
python: 3.4

before_install:
  - sudo apt-get update
  - sudo apt-get install build-essential

matrix:
  include:
    - sudo: false
      dist: trusty
      env: INSTALL=no TESTFILE=./wftests/warrior_tests/projects/pj_common_actions.xml
    - sudo: false
      dist: trusty
      env: INSTALL=yes TESTFILE=./wftests/ci/pylint.sh PYLINT=yes
    - sudo: false
      dist: trusty
      env: INSTALL=yes TESTFILES_1=yes
    - sudo: false
      dist: trusty
      env: INSTALL=yes TESTFILES_2=yes
    - sudo: required
      dist: trusty
      env: INSTALL=yes TESTFILE=./wftests/warrior_tests/testcases/selenium_tests/tc_selenium_headless.xml SELENIUM=yes
      addons:
        firefox: "46.0"
        chrome: stable
    - sudo: required
      dist: trusty
      env: INSTALL=yes TESTFILE=./wftests/warrior_tests/testcases/selenium_tests/tc_selenium_headless.xml SELENIUM=yes GECKODRIVER=yes
      addons:
        firefox: "60.0"
        chrome: stable
    - sudo: false
      dist: trusty
      env: INSTALL=no TESTFILE=./wftests/warrior_tests/testcases/framework_tests/cond_var/pass.xml COPILOT=yes

install:
  - if [[ ${COPILOT} = "yes" ]]; then
      python3 setup.py install ;
    fi
  - if [[ ${INSTALL} = "yes" ]] && [[ ! -z ${TRAVIS_PULL_REQUEST_BRANCH} ]]; then
      pip3 install pexpect==4.2 ;
      pip3 install requests==2.9.1 ;
      pip3 install selenium==3.8.0 ;
      pip3 install lxml==3.3.3 ;
      pip3 install paramiko==2.4.1 ;
      pip3 install pysnmp==4.3.2 ;
    fi
  - if [[ ${SELENIUM} = "yes" ]] && [[ ! -z ${TRAVIS_PULL_REQUEST_BRANCH} ]]; then
      pip3 install pyvirtualdisplay==0.2.1 ;
      wget https://chromedriver.storage.googleapis.com/2.36/chromedriver_linux64.zip;
      unzip chromedriver_linux64.zip;
      chmod +x chromedriver;
      mv chromedriver ~/bin/chromedriver;
    fi
  - if [[ ${GECKODRIVER} = "yes" ]] && [[ ! -z ${TRAVIS_PULL_REQUEST_BRANCH} ]]; then
      wget https://github.com/mozilla/geckodriver/releases/download/v0.20.1/geckodriver-v0.20.1-linux64.tar.gz;
      tar -xvzf geckodriver-v0.20.1-linux64.tar.gz;
      chmod +x geckodriver;
      mv geckodriver ~/bin/geckodriver;
    fi
script:
  - if [[ -z ${TRAVIS_PULL_REQUEST_BRANCH} ]]; then
      python3 ./warrior/Warrior ./wftests/warrior_tests/testcases/framework_tests/cond_var/pass.xml ;
    elif [[ ${PYLINT} = "yes" ]]; then
      $TESTFILE ;
    elif [[ ${TESTFILES_1} = "yes" ]]; then
      python3 ./warrior/Warrior ./wftests/warrior_tests/projects/pj_framework_tests.xml ./wftests/warrior_tests/projects/pj_glob.xml ./wftests/warrior_tests/projects/pj_rest.xml ./wftests/warrior_tests/projects/pj_retry.xml ./wftests/warrior_tests/projects/pj_runmode_retry_at_suite_level_at_project_file.xml ./wftests/warrior_tests/projects/pj_execute_resume.xml ;
    elif [[ ${TESTFILES_2} = "yes" ]]; then
      python3 ./warrior/Warrior ./wftests/warrior_tests/projects/pj_cond_var.xml ./wftests/warrior_tests/projects/pj_iterative_execution.xml ./wftests/warrior_tests/projects/pj_parallel_execution.xml ./wftests/warrior_tests/projects/pj_parallel_execution_2.xml ;
    else
      python3 ./warrior/Warrior $TESTFILE ;
    fi

after_success:
  - if [[ ${COPILOT} = "yes" ]]; then
      bash <(curl -s https://copilot.blackducksoftware.com/ci/travis/scripts/upload);
    fi
