cloudshell-automation-api==9.3.0.175525
configobj==5.0.6
gcg==0.2.0
kafka-python==1.4.6
lxml==4.6.5
openpyxl==3.0.3
pandas==1.0.3
paramiko==2.7.2
pexpect==4.8.0
pycryptodome==3.6.1
pymongo==3.11.0
pysnmp==4.4.12
pyvirtualdisplay==0.2.1
requests==2.21.0
selenium==3.8.0
termcolor==1.1.0
xlrd==1.2.0
xmltodict==0.12.0