<body>
{% load staticfiles %}
<div style="padding: 5rem; overflow: auto;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <h4>Sign In</h4>
            </div>
        </div>
        <br>
        <div class="row" style="padding: 0.2rem;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align: center;">
                <input  placeholder="Username">
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row" style="padding: 0.2rem;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align: center;">
                <input  placeholder="Password">
            </div>
            <div class="col-sm-4"></div>
        </div>
        <br>
        <div class="row" style="padding: 0.4rem;">
            <div class="col-sm-5"></div>
            <div class="col-sm-2" style="text-align: center;">
                <button class="btn btn-success">Login</button>
            </div>
            <div class="col-sm-5"></div>
        </div>
        <br>
    </div>
</div>

</body>