<body>
<div >
    <div class="cases-header">
        <div>
            <h4 class="cases-header-title"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Details</h4>
        </div>
        <div><i class="fa fa-chevron-circle-up white" katana-click="cases.header.toggleContents" collapsed="false" aria-hidden="true" title="Show/Hide the Details section"></i></div>
        <div><i class="fa fa-pencil white" aria-hidden="true" katana-click="cases.header.editDetails" title="Edit Details"></i></div>
        <div></div>
    </div>
    <div class="cases-left-top-block" id="detail-block">
        {% include 'cases/details_display_template.html' %}
    </div>
    <div class="cases-header">
        <div>
            <h4 class="cases-header-title"><i class="fa fa-tags" aria-hidden="true"></i>&nbsp;Requirements</h4>
        </div>
        <div><i class="fa fa-chevron-circle-down white" katana-click="cases.header.toggleContents" collapsed="true" aria-hidden="true" title="Show/Hide the Requirements section"></i></div>
        <div><i class="fa fa-plus-circle white" aria-hidden="true" katana-click="cases.header.newReq" title="Add new Requirement"></i></div>
        <div></div>
    </div>
    <div class="cases-left-bottom-block" id="req-block" style="display:none;">
        {% include 'cases/requirements_display_template.html' %}
    </div>
    <div class="cases-header">
        <div>
            <h4 class="cases-header-title"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;Steps</h4>
        </div>
        <div><i class="fa fa-chevron-circle-up white" katana-click="cases.header.toggleContents" collapsed="false" aria-hidden="true" title="Show/Hide the Steps section"></i></div>
        <div><i class="fa fa-plus-circle white" aria-hidden="true" katana-click="cases.header.newStep" title="Add new Step"></i></div>
        <div></div>
    </div>
    <div class="cases-right-step-block" id="step-block">
        {% include 'cases/steps_display_template.html' %}
    </div>
    <div class="cases-side-drawer-open" style="display: none;">
        <div class="cases-drawer-open-header">
            <div></div>
            <div>
                <h4 class="cases-header-title">New Step</h4>
            </div>
            <div><i class="fa fa-floppy-o white" aria-hidden="true" katana-click="cases.drawer.open.saveContents" title="Save"></i></div>
            <div><i class="fa fa-times white" aria-hidden="true" katana-click="cases.drawer.open.discardContents" title="Discard contents and close"></i></div>
        </div>
        <div class="cases-drawer-open-body">
            <div class="sidebar">
                <div title="Details">
                    <i class="fa fa-list-alt sidebar-badged" aria-hidden="true" ref="editDetails"></i>
                </div>
                <div title="Requirement">
                    <i class="fa fa-tags sidebar-badged" aria-hidden="true" ref="newReq"></i>
                </div>
                <div class="cases-icon-bg-color" title="Step">
                    <i class="fa fa-star sidebar-badged" aria-hidden="true" ref="newStep"></i>
                </div>
            </div>
            <div class="content" style="overflow: auto">
                {% include 'cases/details_template.html' %}
                {% include 'cases/requirements_template.html' %}
                {% include 'cases/steps_template.html' %}
            </div>
        </div>
    </div>
    <div class="cases-side-drawer-closed">
        <div katana-click="cases.header.editDetails" title="Edit Details">
            <i class="fa fa-list-alt sidebar-badged" aria-hidden="true"></i>
        </div>
        <div katana-click="cases.header.newReq" title="Add New Requirement">
            <i class="fa fa-tags sidebar-badged" aria-hidden="true"></i>
        </div>
        <div katana-click="cases.header.newStep" title="Add New Step">
            <i class="fa fa-star sidebar-badged" aria-hidden="true"></i>
        </div>
    </div>
</div>
</body>
