<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
</head>
<body>
<div class="tool-bar">
    <div class="title"></div>
    <button class="button" katana-click="projects.landing.openNewFile">New</button>
    <button class="button" katana-click="projects.suiteViewer.close" style="display: none">Close</button>
    <button class="button" katana-click="projects.suiteViewer.save" style="display: none">Save</button>
</div>
<div class="csrf-container">{% csrf_token %}</div>
<div class="tab-template only">Projects</div>

<div id="body-div" auto-init="projects.landing.init">
    <div id="tree-div"></div>
    <div id="main-div" style="display: none">

    </div>
</div>

</body>
</html>