<div class="container-fluid">
    <div class="kwsequencer-intentional-space" id="wrapper-keyword-div">
        <br>
        <h4>Wrapper Keyword Details</h4>
        <div class="container-fluid" id="wrapper-keyword-details-div">
            <div class="row">
                <label for="wrapperActionFile" class="col-md-2 required">Action File <span>*</span></label>
                <div class="col-md-4">
                    <input type="text" id="wrapperActionFile" key="@wrapperActionFile" disabled value="">
                </div>
            </div>
            <div class="row">
                <label for="wrapperKwName" class="col-md-2 required">Wrapper Keyword Name <span>*</span></label>
                <div class="col-md-4">
                    <input type="text" id="wrapperKwName" key="@wrapperKwName"
                           placeholder="Name of the Wrapper Keyword"
                           validation-check="kwSequencer.validations.checkIfEmpty">
                </div>
            </div>
            <div class="row">
                <label for="wDescription" class="col-md-2 required">W Description <span>*</span></label>
                <div class="col-md-4">
                    <input type="text" id="wDescription" key="@wDescription"
                           placeholder="Wrapper Keyword Description"
                           validation-check="kwSequencer.validations.checkIfEmpty">
                </div>
            </div>
        </div>
        <br>
        <div id="sub-keyword-details-div">
            <h4>SubKeyword Details</h4>
            <p>A Wrapper Keyword requires at least one Subkeyword definition.<br>Please use the 'New Subkeyword' button below to create a Subkeyword.</p>
            <div id="new-sub-keyword-div" style="display: none;" key="subKw">
            </div>
            <button class="btn btn-primary" id="newSubKwButton" katana-click="kwSequencer.newSubKeyword">New Subkeyword</button>
        </div>
        <div id="display-sub-keywords-div" style="display: none;">
            {% include 'kw_sequencer/display_subkws.html' %}
        </div>
    </div>
</div>
