<div class="kwsequencer-intentional-space">
    <div class="container-fluid">
        <div class="row">
            <label for="stepDriver" class="col-md-2 required">Drivers<span>*</span></label>
            <div class="field col-md-4">
                <select type="text" id="stepDriver" key="@Driver" katana-change="kwSequencer.getDriverKeywords"
                        validation-check="kwSequencer.validations.checkIfEmpty">
                    <option selected disabled hidden>Select Driver</option>
                    {% for driver in drivers %}
                    <option>{{ driver }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <label for="stepKeyword" class="col-md-2 required">Keywords<span>*</span></label>
            <div class="field col-md-4">
                <select type="text" id="stepKeyword" key="@Keyword" katana-change="kwSequencer.getArgumentsEtc"
                        validation-check="kwSequencer.validations.checkIfEmpty">
                    <option selected disabled hidden>Select Keyword</option>
                </select>
            </div>
        </div>

        <div class="row" style="display: none;">
            <label class="col-md-2">Signature</label>
             <div class="field col-md-4">
                 <textarea class="modified-textarea" disabled title="Function Signature of the Keyword"></textarea>
             </div>
        </div>

        <div class="row" style="display: none;">
            <label for="stepArguments" class="col-md-2">Arguments</label>
            <div class="field col-md-4">
                <div class="container-fluid">
                    <div class="row" id="arg-template" style="display: none;">
                        <label for="" class="subkw-label col-md-4" key="Arguments.argument.@name"></label>
                        <div class="subkw-text col-md-8">
                            <input type="text" id="" key="Arguments.argument.@value">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="display: none;">
            <label class="col-md-2">WDescription</label>
            <div class="field col-md-4">
                <textarea disabled title="WDescription of the Keyword"></textarea>
            </div>
        </div>

        <div class="row" style="display: none;">
            <label class="col-md-2">Comments</label>
            <div class="field col-md-4">
                <textarea disabled title="Keyword Documentation"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 ">
                <button class="btn btn-primary" katana-click="kwSequencer.saveSubKeyword">Save Subkeyword</button>
                <button class="btn btn-primary" katana-click="kwSequencer.cancelSubKeyword">Cancel</button>
            </div>
        </div>
    </div>
</div>
