<body>

    <div>
        <form>
            <label class="text-uppercase">Wrapper Keyword Details</label>
            <div class="form-group row">
                <label for="wrapperkeywprd" class="col-sm-2 col-form-label" >Wrapper Keyword Name</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="wrapperKwName" placeholder="Name of the Wrapper Keyword">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label">W Description</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="wDescription" placeholder="Wrapper Keyword Description">
                </div>
            </div>

    </div>

</body>
