<div class="kwsequencer-intentional-space-x kwsequencer-extra-left-padding">
    <div class="kwsequencer-internal-section">
        <div class="kwsequencer-subkw-table-parent" id="sub-keywords-table">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="col-md-2">SubKw #</th>
                    <th scope="col" class="col-md-2">Driver</th>
                    <th scope="col" class="col-md-2">Keyword</th>
                    <th scope="col" class="col-md-6">Arguments</th>
                </tr>
                </thead>

                <tbody>
                </tbody>

            </table>
        </div>

        <div class="kwsequencer-subkw-toolbar">
            <div katana-click="kwSequencer.stepSection.toolbar.editStep" title="Select a keyword to edit it">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <div katana-click="kwSequencer.stepSection.toolbar.insertStep" title="Select a keyword to insert above it">
                <i class="fa fa-reply" aria-hidden="true"></i>
            </div>
            <div katana-click="kwSequencer.stepSection.toolbar.deleteStep" title="Select a keyword or multiple keywords to delete it/them">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
            <div katana-click="kwSequencer.stepSection.toolbar.multiselect" title="Toggle between selecting single and multiple keywords">
                <i class="fa fa-th-list badged" aria-hidden="true" multiselect="on">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </i>
            </div>
        </div>
    </div>

    <script id="kw-row-template" type="text/html">
        <tr katana-click="kwSequencer.stepSection.selectStep" key="subKw">
            <td class="col-md-2" key="@SubKwStep"></td>
            <td class="col-md-2" key="@Driver"></td>
            <td class="col-md-2" key="@Keyword"></td>
            <td class="col-md-6" key="Arguments">
                <div key="Arguments.argument">
                    <span key="Arguments.argument.@name"></span>
                    <span> = </span>
                    <span key="Arguments.argument.@value"></span>
                </div>
            </td>
        </tr>
    </script>
</div>
