{% extends "core/components/base_modal.html"%}
{% block modal_id %}about_us_modal{% endblock %}
{% block modal_title %}About Us{% endblock %}
{% block modal_content %}
    <u>History</u>
    <br>
    <br>
    Warrior Framework started out as side project in 2015 and rapidly gained popularity within Fujitsu to become topmost provider of automation services in the company.
    <br>
    <br>
    The potential of Warrior Framework did not go unnoticed and it was made publicly available under the Apache 2.0 License in mid 2017.<br><br>Today, Warrior Framework has successfully transformed into an Open Source Automation Platform wherein the user community can contribute back to the Platform by creating their Apps
    <br>
    <br>
    <u>Releases</u>
    <br>
    <br>
    The latest Warrior Releases can be found on the <a href="https://github.com/warriorframework/warriorframework_py3/releases">Warrior Github page</a>.
    <br>
    <br>
    <u>Meet the Team</u>
    <br>
    <br>
    Information about the team that built Warrior Framework can be also be found on our <a href="https://github.com/warriorframework/warriorframework_py3/blob/master/AUTHORS">Github authors page</a>.
{% endblock %}