.suites-left-block {
    height: 100%;
    width: 50%;
    float: left;
}

.suites-left-top-block {
    height: auto;
    width: 100%;
    padding: 2rem;
    float: left;
}

.suites-left-bottom-block {
    height: auto;
    width: 100%;
    padding: 2rem;
    float: left;
}

.suites-right-block {
    height: 100%;
    width: 50%;
    float: left;
}

.suites-right-step-block {
    height: auto;
    width: 100%;
    padding: 2rem;
    float: left;
}

.suites-header {
    height: 60px;
    width: 100%;
    float: left;
    background-color: #3b5f82;
    border-bottom: 2px solid white;
}

.suites-header-title {
    color: white;
    padding: 1rem 1rem;
}

.suites-header > div:first-child {
    width: 90%;
    height: 100%;
    float: left;
    padding: 0 2%;
}

.suites-header > div:nth-child(2) {
    width: 2%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.suites-header > div:nth-child(3) {
    width: 2%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.suites-header > div:nth-child(4) {
    width: 6%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.suites-side-drawer-open {
    height: 100%;
    width: 40%;
    min-width: 600px;
    position: fixed;
    top: 90px;
    right: 0;
    background-color: white;
}

.suites-drawer-open-header {
    height: 60px;
    width: 100%;
    float: left;
    background-color: #3b5f82;
    border-left: 2px solid lightgrey;
}

.suites-drawer-open-header > div:nth-child(1) {
    width: 7%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.suites-drawer-open-header > div:nth-child(2) {
    width: 83%;
    height: 100%;
    float: left;
    padding: 0 2%;
}

.suites-drawer-open-header > div:nth-child(3) {
    width: 5%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.suites-drawer-open-header > div:nth-child(4) {
    width: 5%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.suites-side-drawer-closed {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 90px;
    right: 0;
    background-color: lightgrey;
}

.suites-side-drawer-closed > div {
    width: 100%;
    height: 60px;
    float: left;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.suites-side-drawer-closed > div > i {
    color: black;
}

.suites-side-drawer-closed > div:hover {
    background-color: khaki;
    transition: all 0.2s ease-in-out;
}

.suites-drawer-open-body {
    width: 100%;
    height: 100%;
    background-color: white;
}

.suites-drawer-open-body > .sidebar {
    height: 100%;
    width: 60px;
    background-color: lightgrey;
    float: left;
}

.suites-drawer-open-body > .sidebar > div {
    width: 100%;
    height: 60px;
    float: left;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.suites-drawer-open-body > .sidebar > div > i {
    color: black;
}

.suites-icon-bg-color {
    background-color: grey;
}

.suites-sidebar-disabled-icon > i {
    color: grey !important;
}

.suites-drawer-open-body > .content {
    height: 720px;
    width: calc(100% - 60px);
    float: left;
    overflow: auto;
}

.suites-intentional-space {
    padding: 40px 20px;
}

.suites-intentional-space-x {
    padding: 40px 6% 40px 20px;
}

.suites-label {
    text-align: left;
    padding-top: 8px;
}

.suites-label-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.suites-intentional-space > .container-fluid > .row > div > input:not([disabled]) {
    background-color: white !important;
}

.suites-intentional-space > .container-fluid > .row > div > div > input:not([disabled]) {
    background-color: white !important;
}

.suites-intentional-space > .container-fluid > .row > div > .container-fluid > .row > div > input:not([disabled]) {
    background-color: white !important;
}

.suites-intentional-space > .container-fluid > .row > div > input:disabled {
    cursor: not-allowed;
}

.suites-intentional-space > .container-fluid > .row > div > select {
    margin-top: 4px;
    background-color: white !important;
}

.suites-intentional-space > .container-fluid > .row > div > textarea {
    margin-top: 4px;
    min-height: 100px;
    background-color: #f9f9f9 !important;
    resize: vertical;
}

.suites-intentional-space > .container-fluid > .row > div > .modified-textarea {
    margin-top: 4px;
    min-height: 50px;
    background-color: #f9f9f9 !important;
    resize: vertical;
}

.suites-intentional-space > .container-fluid > .row > div > .container-fluid > .row > div > select {
    margin-top: 4px;
    background-color: white !important;
}

.suites-intentional-space-x > div > table > tbody > tr > th {
    background-color: lightgrey;
    max-width: 33%;
    text-align: left;
}

.suites-intentional-space-x > div > table > tbody > tr > td {
    text-align: left;
    max-width: 67%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.suites-intentional-space-x > .suites-internal-space {
    height: auto;
    width: 50%;
    float: left;
    padding-right: 5px
}

.suites-intentional-space-x > .suites-internal-section > div > table > tbody > tr > td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.suites-intentional-space-x > .suites-internal-section > div > table > tbody > tr > td:nth-child(1) {
    text-align: center;
}

.suites-intentional-space-x > .suites-internal-section > div > table > tbody > tr:hover > td {
    white-space: initial;
    word-break: break-all;
}

.suites-intentional-space-x > .suites-internal-section > div > table > tbody > tr:hover {
    background-color: lightblue;
    height: auto;
    white-space: initial;
    transition: all 0.2s ease-in-out;
}

.suites-intentional-space-x > .suites-internal-section > div > table:hover {
}

.suites-intentional-space > .container-fluid > .row > .field {
    padding: 0 15px;
    max-width: none;
    margin: 0;
}

.suites-intentional-space > .container-fluid > .row > .field > .invalid {
    top: -25px;
    left: 15px;
}

.suites-intentional-space > .container-fluid > .row > div > .container-fluid > .row > .field {
    padding: 0 15px;
    max-width: none;
    margin: 0;
}

.suites-intentional-space > .container-fluid > .row > div > .container-fluid > .row > .field > .invalid {
    top: -25px;
    left: 15px;
}

.suites-internal-section {
    width: 100%;
    height: auto;
    float: left;
}

.suites-step-toolbar {
    width: 40px;
    height: fit-content;
    float: left;
    background-color: lightblue;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.suites-extra-left-padding {
    padding-right: calc(6% - 40px);
}

.suites-step-table-parent {
    width: calc(100% - 40px);
    float: left;
}

.suites-step-toolbar > div {
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    padding-top: 12px;
    position: relative;
}

.suites-step-toolbar > div:hover {
    background-color: khaki;
    width: 112.5%;
    height: 45px;
    padding-top: 15px;
    transition: all 0.2s ease-in-out;
}

.suites-step-toolbar > div > i > i {
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.suites-step-toolbar > div:hover > i > i {
    color: green;
}

.badged {}

.suites-step-toolbar > div:hover > .badged {
    color: darkgrey;
}

.sidebar-badged > i {
    font-size: 12px;
    position: absolute;
    top: 12px;
    right: 12px;
    color: red;
}

.suites-req {}

.suites-req-options {
    width: 10%;
    float: left;
    text-align: center;
    display: none;
}

.suites-req:hover {
    background-color: lightblue;
    height: auto;
    white-space: initial;
    transition: all 0.2s ease-in-out;
}


.suites-req:hover > .suites-req-options {
    display: block;
}

.suites-input-div {
    width: 85%;
    float: left;
}

.suites-icon-input-div {
    width: 15%;
    float: left;
    text-align: center;
    padding: 9px 0;
}

.suites-icon-input-div > i:hover {
    font-size: 110%;
    color: #3b5f82 ;
}

.suites-hidden-element {
    visibility: hidden;
}

.suites-arg-label {
    font: 400 13.3333px Arial;
    padding: 4px 5px 4px 20px;
}

.suites-label > span {
    color: red;
}