
#display-sub-keywords-div {
    height: auto;
    width: 100%;
    float: left;
}

.kwsequencer-intentional-space-x {
    padding: 40px 6% 40px 20px;
}

.kwsequencer-extra-left-padding {
    padding-right: calc(6% - 40px);
}

.kwsequencer-subkw-table-parent {
    width: calc(100% - 40px);
    float: left;
}

.kwsequencer-internal-section {
    width: 100%;
    height: auto;
    float: left;
}

.kwsequencer-intentional-space-x > .kwsequencer-internal-section > div > table > tbody > tr > td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.kwsequencer-intentional-space-x > .kwsequencer-internal-section > div > table > tbody > tr > td:nth-child(1) {
    text-align: center;
}

.kwsequencer-intentional-space-x > .kwsequencer-internal-section > div > table > tbody > tr:hover > td {
    white-space: initial;
    word-break: break-all;
}

.kwsequencer-intentional-space-x > .kwsequencer-internal-section > div > table > tbody > tr:hover {
    background-color: lightblue;
    height: auto;
    white-space: initial;
    transition: all 0.2s ease-in-out;
}

.kwsequencer-subkw-toolbar {
    width: 40px;
    height: fit-content;
    float: left;
    background-color: lightblue;
    position: sticky;
    top: 50px;
}

.kwsequencer-subkw-toolbar > div {
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    padding-top: 12px;
    position: relative;
}

.kwsequencer-subkw-toolbar > div:hover {
    background-color: khaki;
    width: 112.5%;
    height: 45px;
    padding-top: 15px;
    transition: all 0.2s ease-in-out;
}

.kwsequencer-subkw-toolbar > div > i > i {
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.kwsequencer-subkw-toolbar > div:hover > i > i {
    color: green;
}

.kwsequencer-subkw-toolbar > div:hover > .badged {
    color: darkgrey;
}

.kwsequencer-intentional-space > .container-fluid > .row > .field {
    padding: 0 15px;
    max-width: none;
    margin: 2px;
}

.required > span {
    color: red;
}
