<body>
{% load staticfiles %}
<div style="padding: 5rem; overflow: auto;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <h4>Request An App</h4>
            </div>
        </div>
        <br>
        <div class="row" style="padding: 0.2rem;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align: center;">
                <input  placeholder="Name">
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row" style="padding: 0.2rem;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align: center;">
                <input  placeholder="Email">
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row" style="padding: 0.2rem;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align: center;">
                <input  placeholder="Daytime Contact Number">
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row" style="padding: 0.4rem;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align: center;">
                <textarea style="height: 100px;"  placeholder="Please Describe The Issues You Are Facing"></textarea>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row" style="padding: 0.4rem;">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align: center;">
                <textarea style="height: 100px;"  placeholder="Please Describe What You Want The MicroApp To Do"></textarea>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row" style="padding: 0.4rem;">
            <div class="col-sm-5"></div>
            <div class="col-sm-2" style="text-align: center;">
                <button class="btn btn-success">Submit</button>
            </div>
            <div class="col-sm-5"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <h5 style="font-weight: 200;">While you are waiting for us to get back to you...</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <h6 style="font-weight: 100;">
                    Follow us on &nbsp;
                    <a href="https://www.facebook.com/warriorframework/" target="_blank" style="color: inherit !important;">
                        <i class="fa fa-facebook-square"></i>
                    </a>&nbsp;
                    <a href="https://twitter.com/warrior_fw" target="_blank" style="color: inherit !important;">
                        <i class="fa fa-twitter"></i>
                    </a>&nbsp;
                    <a href="https://github.com/warriorframework" target="_blank" style="color: inherit !important;">
                        <i class="fa fa-github"></i>
                    </a>&nbsp;
                    <a href="http://warriorframework.org/" target="_blank">
                        <img src="{%  static 'core/images/logo.png' %}" width="20px" height="20px">
                    </a>
                </h6>
            </div>
        </div>
    </div>
</div>

</body>