.wappstore-wapp-icon-wrapper {
    width:100%;
    height: 150px;
}

.wappstore-wapp-icon-container {
    width: 150px;
    height: 150px;
    text-align: center;
    border: solid 1px #e3e3e3;
    border-radius: 10px;
    float: left;
}

.wappstore-wapp-icon {
    line-height: 150px !important;
}

.wappstore-wapp-desc-container {
    width: calc(100% - 150px);
    height: 100%;
    float: left;
    padding: 0 0.2rem 0 0.7rem;
    overflow: hidden;
}

.wappstore-wapp-wrapper {
    padding: 0.8rem;
    cursor: pointer;
}

.wappstore-expanded-wapp-image-row {
    padding: 10px;
}

.wappstore-expanded-wapp-image-row > .col > div {
    height: 300px;
    border: solid 1px #e3e3e3;
    width: 100%;
    background-color: #e3e3e3;
    text-align: center
}

.wappstore-expanded-wapp-image-row > .col > div > span {
    line-height: 300px;
}

.wappstore-sidebar {
    position: fixed;
    left: 250px;
    top: 90px;
    width: 250px;
    height: calc(100vh - 95px);
    background-color: #4ea4e0;
    color: white;
    padding: 0 5px;
}

.wappstore-sidebar > .wappstore-main-bar {
    width: 100%;
    height: 40px;
    padding: 10px;
    cursor: pointer;
}

.wappstore-sidebar > .wappstore-sub > .wappstore-sub-bar {
    width: 100%;
    height: 40px;
    padding: 10px 10px 10px 40px;
    background-color: rgba(35, 131, 195, 1);
    cursor: pointer;
}