.wappstore-wapp-icon-wrapper {
    width:100%;
    height: 150px;
}

.wappstore-wapp-icon-container {
    width: 150px;
    height: 150px;
    text-align: center;
    border: solid 1px #e3e3e3;
    border-radius: 10px;
    float: left;
}

.wappstore-wapp-icon {
    line-height: 150px !important;
}

.wappstore-wapp-desc-container {
    width: calc(100% - 150px);
    height: 100%;
    float: left;
    padding: 0 0.2rem 0 0.7rem;
    overflow: hidden;
}

.wappstore-wapp-wrapper {
    padding: 0.8rem;
    cursor: pointer;
}

.wappstore-wapp-wrapper > .card > .card-body > .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wappstore-expanded-wapp-image-row {
    padding: 10px;
}

.wappstore-expanded-wapp-image-row > .col > div {
    height: 300px;
    border: solid 1px #e3e3e3;
    width: 100%;
    background-color: #e3e3e3;
    text-align: center
}

.wappstore-expanded-wapp-image-row > .col > div > span {
    line-height: 300px;
}

.wappstore-sidebar {
    left: 250px;
    top: 90px;
    width: 250px;
    height: 100%;
    background-color: #4ea4e0;
    color: white;
    padding: 0 5px;
    float: left;
}

.wappstore-sidebar > .wappstore-main-bar {
    width: 100%;
    height: 40px;
    padding: 8px 10px;
    cursor: pointer;
}

.wappstore-sidebar > .wappstore-main-bar:hover {
    background-color: white !important;
    color: #4ea4e0 !important;
}

.wappstore-sidebar > .wappstore-sub > .wappstore-sub-bar {
    width: 100%;
    height: 40px;
    padding: 8px 10px 8px 60px;
    background-color: #4ea4e0;
    cursor: pointer;
}

.wappstore-sidebar > .wappstore-sub > .wappstore-sub-bar:hover {
    background-color: white !important;
    color: #4ea4e0 !important;
}

.tool-bar > .wappstore-search-bar {
    position: absolute;
    width: 250px;
    right: 100px;
}

.wappstore-search-bar > input {
    height: 34px;
}

.wappstore-inner-page {
    width: 100%;
    height: calc(100vh - 90px);
}

.wappstore-main-bar > span {
    float: right;
    padding-top: 5px;
}

.wappstore-display {
    float:left;
    height: 100%;
    width: calc(100% - 250px);
    overflow: auto;
}

.wappstore-display-padding {
    padding: 5rem;
}

.wappstore-display > div > div > .text-muted > button {
    float: right;
}

.wappstore-display > div > div > .container-fluid {
    overflow: auto;
}

.wappstore-display > div > div > .container-fluid > .row {
    flex-wrap: nowrap;
    position: relative;
}

.wappstore-display > div > div > .container-fluid > .row > .container-fluid {
    overflow: hidden;
    padding: 0
}

.wappstore-display > div > div > .container-fluid > .row > .container-fluid > .row {
    padding: 0 0 0 0.5rem;
    flex-wrap: nowrap
}

.wappstore-display > div > div > .container-fluid > .row > .wappstore-display-navbar-left {
    height: 21.25rem;
    padding: 0 0.4rem;
    z-index: 20;
    position: absolute;
    display: none;
}

.wappstore-display > div > div > .container-fluid > .row > .wappstore-display-navbar-right {
    height: 21.25rem;
    padding: 0 0.4rem;
    z-index: 20;
    position: absolute;
    display: none;
    right: 0
}

.wappstore-display > div > div > .container-fluid:hover > .row > .wappstore-display-navbar-left {
    display: block;
    background-color: rgba(249, 249, 249, 0.75);
}

.wappstore-display > div > div > .container-fluid:hover > .row > .wappstore-display-navbar-right {
    display: block;
    background-color: rgba(249, 249, 249, 0.75);
}

.wappstore-display-navbar-left > i {
    line-height: 21.25rem;
    color: rgba(0, 0, 0, 0.5);
}

.wappstore-display-navbar-right > i {
    line-height: 21.25rem;
    color: rgba(0, 0, 0, 0.5);
}