
<tr class="microservice docker_deployment_details options_head" style="display: none; font-weight: bold">
        <td>
                &nbsp;&nbsp;Flag
        </td>
        <td>
                &nbsp;&nbsp;Description
        </td>
</tr>

{% for option in docker_options %}
<tr class="microservice docker_deployment_details options" style="display: none">
        <td>
                &nbsp;&nbsp;"{{ option.name }}"
        </td>
        <td>
                &nbsp;&nbsp;"{{ option.description }}"
        </td>
</tr>
{% endfor %}