<!--<td>-->
        <!--<div class="form-group">-->
                <!--<input class="form-control" key="bind_host_interface" value="" required/>-->
                <!--<label class="form-control-placeholder">Bind Host Interface</label>-->
        <!--</div>-->
<!--</td>-->
<!--<td>-->
        <!--<div class="form-group">-->
                <!--<input class="form-control" key="bind_host_port" value="" required/>-->
                <!--<label class="form-control-placeholder">Bind Hosts Ports</label>-->
        <!--</div>-->
<!--</td>-->