<div section="host" class="microservice section host">

        <table class="microservice host_details">
                <tr colspan="2">
                        <td>
                                Host Details
                        </td>
                </tr>
                <tr>
                       <td>
                               <div class="form-group">
                                       <input class="form-control" key="address" value="" required/>
                                       <label class="form-control-placeholder" >Address</label>
                               </div>
                       </td>
                        <td>
                                <div class="form-group">
                                        <input class="form-control" key="port" value="" required/>
                                        <label class="form-control-placeholder">Port</label>
                                </div>
                       </td>
                        <td>
                                <div class="form-group">
                                        <input class="form-control" key="username" value="" required/>
                                        <label class="form-control-placeholder">Username</label>
                                </div>
                        </td>
                        <td>
                                <div class="form-group">
                                        <input class="form-control" key="password" type="password" value="" required/>
                                        <label class="form-control-placeholder">Password</label>
                                </div>
                        </td>
                        <td>
                                <div class="form-group">
                                        <input class="form-control" key="end_prompt" value="" required/>
                                        <label class="form-control-placeholder">CLI Prompt</label>
                                </div>
                        </td>
                </tr>
        </table>

        <table class="microservice deployment_details">
                <tr colspan="2">
                        <td>
                                Deployment Details
                        </td>
                </tr>
                <tr colspan="2">
                       <td>
                               <div class="form-group">
                                        <input class="form-control" key="deployment_environment" list="envs_list"
                                               katana-change="microservice.deployment_details" required/>
                                        <label class="form-control-placeholder">Environment</label>
                                        <datalist id="envs_list">
                                               <option value="docker"> Docker </option>
                                               <option value="kubernetes"> Kubernetes </option>
                                        </datalist>
                                </div>
                       </td>
                </tr>
                <tr class="microservice kubernetes_deployment_details" style="display: none">
                        <td>
                                <div class="form-group">
                                        <input class="form-control" key="pod_name" value="" required/>
                                        <label class="form-control-placeholder">Pod</label>
                                </div>
                        </td>
                        <td>
                                <div class="form-group">
                                        <input class="form-control" key="replicas" value="" required/>
                                        <label class="form-control-placeholder">Replicas</label>
                                </div>
                        </td>
                </tr>
                <tr class="microservice deployment_details">
                        <td>
                                Flags <span style="font-size: 11px;color:#247dba; cursor: pointer" class="fa fa-help"
                                                katana-click="microservice.show_options_box">
                                &nbsp;&nbsp;Help</span>
                                <div style="font-size:11px">Click help to list all flags and use description
                                to fill all the flgags</div>
                        </td>
                        <td>
                                <textarea class="microservice flag textarea" key="flags" rows="10"></textarea>
                        </td>
                </tr>
                <tr class="microservice deployment_details">
                        <td>
                                Script <span style="font-size: 11px;color:#247dba; cursor: pointer" class="fa fa-help"
                                                katana-click="microservice.show_options_box">
                                &nbsp;&nbsp;Help</span>
                                <div style="font-size:11px">Enter commands line by line</div>
                        </td>
                        <td>
                                <textarea class="microservice scripts textarea" key="scripts" rows="10"></textarea>
                        </td>
                </tr>
        </table>

        {% include 'microservice_store/docker.html' %}
        {% include 'microservice_store/kubernetes.html' %}

</div>