<div section="host" class="microservice section host">

        <table class="microservice host_details">
                <tr colspan="2">
                        <td>
                                Host Details
                        </td>
                </tr>
                <tr>
                       <td>
                               <div class="form-group">
                                       <input class="form-control" key="address" value="" required/>
                                       <label class="form-control-placeholder" >Address</label>
                               </div>
                       </td>
                        <td>
                                <div class="form-group">
                                        <input class="form-control" key="port" value="" required/>
                                        <label class="form-control-placeholder">Port</label>
                                </div>
                       </td>
                </tr>
                <tr>
                        <td>
                                <div class="form-group">
                                        <input class="form-control" key="username" value="" required/>
                                        <label class="form-control-placeholder">Username</label>
                                </div>
                        </td>
                        <td>
                                <div class="form-group">
                                        <input class="form-control" key="password" type="password" value="" required/>
                                        <label class="form-control-placeholder">Password</label>
                                </div>
                        </td>
                </tr>
                <tr>
                        <td>
                                <div class="form-group">
                                        <input class="form-control" key="end_prompt" value="" required/>
                                        <label class="form-control-placeholder">CLI Prompt</label>
                                </div>
                        </td>
                </tr>
        </table>

        <table class="microservice deployment_details">
                <tr colspan="2">
                        <td>
                                Deployment Details
                        </td>
                </tr>
                <tr colspan="2">
                       <td>
                               <div class="form-group">
                                        <input class="form-control" key="deployment_environment" list="envs_list"
                                               katana-change="microservice.deployment_details" required/>
                                        <label class="form-control-placeholder">Environment</label>
                                        <datalist id="envs_list">
                                               <option value="docker"> Docker </option>
                                               <option value="kubernetes"> Kubernetes </option>
                                        </datalist>
                                </div>
                       </td>
                </tr>
                <!--<tr>-->
                        <!--<td>-->
                                <!--<div class="form-group">-->
                                        <!--<input class="form-control" key="bind_host_interface" value="" required/>-->
                                        <!--<label class="form-control-placeholder">Bind Host Interface</label>-->
                                <!--</div>-->
                        <!--</td>-->
                        <!--<td>-->
                                <!--<div class="form-group">-->
                                        <!--<input class="form-control" key="bind_host_port" value="" required/>-->
                                        <!--<label class="form-control-placeholder">Bind Hosts Ports</label>-->
                                <!--</div>-->
                        <!--</td>-->
                <!--</tr>-->
                <!--<tr class="microservice kubernetes_deployment_details" style="display: none">-->
                        <!--<td>-->
                                <!--<div class="form-group">-->
                                        <!--<input class="form-control" key="pod_name" value="" required/>-->
                                        <!--<label class="form-control-placeholder">Pod</label>-->
                                <!--</div>-->
                        <!--</td>-->
                        <!--<td>-->
                                <!--<div class="form-group">-->
                                        <!--<input class="form-control" key="replicas" value="" required/>-->
                                        <!--<label class="form-control-placeholder">Replicas</label>-->
                                <!--</div>-->
                        <!--</td>-->
                <!--</tr>-->
                {% include 'microservice_store/docker.html' %}
                {% include 'microservice_store/kubernetes.html' %}
        </table>

</div>