<div section="registry" class="microservice section registry" style="display: block">

        <!--<label for="registry_type">Registry Type</label>-->
        <!--<input id="registry_type" list="register_types"/>-->
        <!--<datalist id="register_types">-->
            <!--<option value="docker"> Docker Hub/Registry </option>-->
            <!--<option value="quay"> Quay </option>-->
            <!--<option value="google"> Google Container Registry </option>-->
            <!--<option value="aws"> AWS Google Container Registry </option>-->
        <!--</datalist>-->

        <!--<label>Address</label>-->
        <!--<input key="address" placeholder="Enter Registry Address. Ex: address[:port]" value="fnc-docker-reg:3000"/>-->

        <!--<label>Image</label>-->
        <!--<input key="image" placeholder="Enter Registry Address. Ex: image[:tag]" value="opce-algo"/>-->

        <table class="microservice registry_details">
                <tr colspan="2">
                        <td>
                                Registry Details
                        </td>
                </tr>
                <tr>
                       <td>
                                <div class="form-group">
                                        <label class="label">URL or IP Address</label>
                                        <input class="form-control" key="address" value="{{ registry.address }}" required/>
                                </div>
                       </td>
                </tr>
            <!--
                <tr>
                       <td>
                                <div class="form-group">
                                        <label class="label">Address</label>
                                        <select class="form-control" list="addr_list" value="{{ registry.address }}" required>
                                                <datalist id="envs_list">
                                                       <option value="docker_hub"> Docker Hub </option>
                                                       <option value="custom"> Other... </option>
                                                </datalist>
                                        </select>
                                </div>
                       </td>
                       <td>
                                <div class="form-group">
                                        <label class="label">URL or IP Address</label>
                                        <input class="form-control" key="address" value="{{ registry.address }}" required/>
                                </div>
                       </td>
                </tr>
                -->
        </table>
        <table class="microservice registry_details">
                <tr colspan="2">
                        <td>
                                Image Details
                        </td>
                </tr>
                <tr colspan="2">
                        <td>
                                <div class="form-group">
                                        <label class="label">Image Name</label>
                                        <input class="form-control" key="image_name" value="{{ registry.image_name }}" required/>
                                </div>
                        </td>
                        <td>
                                <div class="form-group">
                                        <label class="label">Image Tag</label>
                                        <input class="form-control" key="image_tag" value="{{ registry.image_tag }}"/>
                                </div>
                        </td>
                </tr>
        </table>

</div>