.file-manager-input{
    height: 100%;
    width: 28%;
    position: fixed;
    right: 0;
    border-left: 3px solid #c4c4c4;
    background-color: #fcfcfc;
    box-shadow: 2px 2px #fcfcfc inset;

}
.file-manager-transfer-close{
    padding:0.5rem
}

.file-manager-transfer-close > .button{
    float: right !important;
}

.file-manager-transfer-row1{
    padding-top: 1rem;
}

.file-manager-transfer-row2{
    padding-top: 1rem;
}

.file-manager-transfer-row3{
    padding-top: 1rem;
}

.file-manager-transfer-row4{
    padding-top: 1rem;
}

.file-manager-transfer-send{
    padding-top: 1rem;
    padding-left: 1rem;

}

.file-manager-transfer-send > .button{
    font-size: 1rem !important;
    height: 30px;

}

.file-manger-tree-div{
    padding: 1rem;
}

.file-manager-transfer-row4 > .file-manager-scptext{
    padding-left: 0.4rem;
    color: red;
}