{% load suite_filters %}
<div class="suites-intentional-space-x suites-extra-left-padding" id="suites-steps-template">
    <div class="suites-internal-section">
        <div class="suites-step-table-parent">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="col-sm-1">Case #</th>
                    <th scope="col" class="col-sm-2">Path</th>
                    <th scope="col" class="col-sm-2">Input Data File</th>
                    <th scope="col" class="col-sm-1">Run Type</th>
                    <th scope="col" class="col-sm-2">Execute</th>
                    <th scope="col" class="col-sm-1">Run Mode</th>
                    <th scope="col" class="col-sm-1">Impact</th>
                    <th scope="col" class="col-sm-1">Context</th>
                    <th scope="col" class="col-sm-1">On Error</th>
                </tr>
                </thead>
                <tbody>
                {% for tc in data.TestSuite.Testcases.Testcase %}
                <tr katana-click="suites.stepSection.selectStep" key="Testcase">
                    <td class="col-sm-1" key="@TS">{{ forloop.counter }}</td>
                    <td class="col-sm-2" key="path">{{ tc.path }}</td>
                    <td class="col-sm-2" key="InputDataFile">{{ tc.InputDataFile }}</td>
                    {% if tc.runtype %}
                    <td class="col-sm-1">
                        <span key="runtype">{{ tc.runtype|convert_runtypes }}</span>
                    </td>
                    {% else %}
                    <td class="col-sm-1">
                        <span key="runtype"> None</span>
                    </td>
                    {% endif %}
                    {% if tc.Execute %}
                    <td class="col-sm-2">
                        <span key="Execute.@ExecType">{{ tc.Execute|get_attribute:"ExecType" }}</span><br>
                        {% if tc.Execute|get_attribute:"ExecType" == "If" or tc.Execute|get_attribute:"ExecType" == "If Not" %}
                        {% for rule in tc.Execute.Rule %}
                        <span key="Execute.Rule">
                            <br>
                            Condition = <span key="Execute.Rule.@Condition">{{ rule|get_attribute:"Condition" }}</span>
                            <br>
                            Condition Value = <span key="Execute.Rule.@Condvalue">{{ rule|get_attribute:"Condvalue" }}</span>
                            <br>
                            Else = <span key="Execute.Rule.@Else">{{ rule|get_attribute:"Else"}}</span>
                            <br>
                            Else Value = <span key="Execute.Rule.@Elsevalue">{{ rule|get_attribute:"Elsevalue" }}</span>
                        </span>
                        <br>
                        {% endfor %}
                        {% endif %}
                    </td>
                    {% else %}
                    <td class="col-sm-2">
                        <span key="Execute.@ExecType"> Yes</span>
                    </td>
                    {% endif %}
                    {% if tc.runmode %}
                    <td class="col-sm-1">
                        <span key="runmode.@type"> {{ tc.runmode|get_attribute:"type"|convert_runmodes }} </span>
                        {% if tc.runmode|get_attribute:"type"|convert_runmodes != "Standard" %}
                        <span> = </span>
                        <span key="runmode.@value"> {{ tc.runmode|get_attribute:"value" }} </span>
                        {% endif %}
                    </td>
                    {% else %}
                    <td class="col-sm-1">
                        <span key="runmode.@type"> Standard</span>
                    </td>
                    {% endif %}
                    {% if tc.context %}
                    <td class="col-sm-1" key="context">{{ tc.context|convert_contexts }}</td>
                    {% else %}
                    <td class="col-sm-1" key="context">Positive</td>
                    {% endif %}
                    {% if tc.impact %}
                    <td class="col-sm-1" key="impact">{{ tc.impact|convert_impacts }}</td>
                    {% else %}
                    <td class="col-sm-1" key="impact">Impact</td>
                    {% endif %}
                    {% if tc.onError %}
                    <td class="col-sm-1">
                        <span key="onError.@action"> {{ tc.onError|get_attribute:"action"|convert_on_errors }} </span>
                        {% if tc.onError|get_attribute:"action"|convert_on_errors == "Go To" %}
                        <span> = </span>
                        <span key="onError.@value"> {{ tc.onError|get_attribute:"value" }} </span>
                        {% endif %}
                    </td>
                    {% else %}
                    <td class="col-sm-1">
                        <span key="onError.@action"> Next</span>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="suites-step-toolbar">
            <div katana-click="suites.stepSection.toolbar.editStep" title="Select a step to edit it">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <div katana-click="suites.stepSection.toolbar.insertStep" title="Select a step to insert above it">
                <i class="fa fa-reply" aria-hidden="true"></i>
            </div>
            <div katana-click="suites.stepSection.toolbar.deleteStep" title="Select a step or multiple steps to delete it/them">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
            <div katana-click="suites.stepSection.toolbar.multiselect" title="Toggle between selecting single and multiple steps">
                <i class="fa fa-th-list badged" aria-hidden="true" multiselect="on">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </i>
            </div>
        </div>
    </div>
    <script id="step-row-template" type="text/html">
        <tr katana-click="suites.stepSection.selectStep" key="Testcase">
            <td class="col-sm-1" key="@TS"></td>
            <td class="col-sm-2" key="path"></td>
            <td class="col-sm-2" key="InputDataFile"></td>
            <td class="col-sm-1">
                <span key="runtype"></span>
            </td>
            <td class="col-sm-2">
                <span key="Execute.@ExecType"></span><br>
                <span key="Execute.Rule">
                    <br>
                    Condition = <span key="Execute.Rule.@Condition"></span>
                    <br>
                    Condition Value = <span key="Execute.Rule.@Condvalue"></span>
                    <br>
                    Else = <span key="Execute.Rule.@Else"></span>
                    <br>
                    Else Value = <span key="Execute.Rule.@Elsevalue"></span>
                </span>
                <br>
            </td>
            <td class="col-sm-1">
                <span key="runmode.@type"></span>
                <span> = </span>
                <span key="runmode.@value"></span>
            </td>
            <td class="col-sm-1" key="context"></td>
            <td class="col-sm-1" key="impact"></td>
            <td class="col-sm-1">
                <span key="onError.@action"></span>
                <span> = </span>
                <span key="onError.@value"></span>
            </td>
        </tr>
    </script>
</div>