{% load suite_filters %}
<div class="suites-intentional-space" id="details_drawer_template" style="display: none;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <label class="suites-label">Name<span>*</span></label>
            </div>
            <div class="field col-sm-9">
                <input key="Name" title="Name of the Case" validation-check="suites.validations.checkIfEmpty">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="suites-label">Title<span>*</span></label>
            </div>
            <div class="field col-sm-9">
                <input key="Title" title="Title of the Case" validation-check="suites.validations.checkIfEmpty">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="suites-label">State</label>
            </div>
            <div class="col-sm-9">
                <input key="State" list="states" title="State of the Case">
                <datalist id="states">
                    {% for value in defaults.details.states %}
                    <option value="{{value}}"></option>
                    {% endfor %}
                </datalist>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="suites-label">Engineer<span>*</span></label>
            </div>
            <div class="field col-sm-9">
                <input key="Engineer" title="Name of the Engineer who developed this Case" validation-check="suites.validations.checkIfEmpty">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="suites-label">Date</label>
            </div>
            <div class="col-sm-9">
                <input key="Date" disabled title="Last modified date">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="suites-label">Time</label>
            </div>
            <div class="col-sm-9">
                <input key="Time" disabled title="Last modified time">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="suites-label">Execution Type</label>
            </div>
            <div class="col-sm-9">
                <select key="type.@exectype" katana-click="suites.detailsEditor.updateExecutionType" title="Type of execution">
                    {% for value in defaults.details.execution_types %}
                    <option>{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="suites-label"></label>
            </div>
            <div class="col-sm-9">
                <div class="container-fluid">
                     <div class="row">
                         <div class="col-sm-4 suites-arg-label">
                             <label class="suites-label">Attempts<span>*</span></label>
                        </div>
                        <div class="field col-sm-8">
                            <input key="type.@Number_Attempts" title="Number of attempts"
                                   validation-check="suites.validations.checkIfEmptyOrNaN" display-parent="true">
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="suites-label">On Error (Default)</label>
            </div>
            <div class="col-sm-9">
                <select key="default_onError.@action" katana-change="suites.detailsEditor.updateDefaultOnError" title="Default on error action">
                    {% for value in defaults.details.default_on_errors %}
                    <option>{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="suites-label"></label>
            </div>
            <div class="col-sm-9">
                <div class="container-fluid">
                     <div class="row">
                         <div class="col-sm-4 suites-arg-label">
                             <label class="suites-label">Go To Step<span>*</span></label>
                        </div>
                        <div class="field col-sm-8">
                            <input key="default_onError.@value" title="Go to this step on error" validation-check="suites.validations.checkIfEmptyOrNaN" display-parent="true">
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="suites-label">Input Data File</label>
            </div>
            <div class="col-sm-9">
                <div class="suites-input-div">
                    <input key="InputDataFile" title="Relative path to the Input Data File">
                </div>
                <div class="suites-icon-input-div">
                    <i class="fa fa-folder-open" aria-hidden="true" katana-click="suites.drawer.openFileExplorer.inputDataFile" title="Open File Explorer"></i>
                    &nbsp;
                    <i class="fa fa-external-link-square" aria-hidden="true" katana-click="suites.drawer.openDatafile" title="View File"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="suites-label">TestWrapper File</label>
            </div>
            <div class="col-sm-9">
                <div class="suites-input-div">
                    <input key="TestWrapperFile" title="Relative path to the Test Wrapper File">
                </div>
                <div class="suites-icon-input-div">
                    <i class="fa fa-folder-open" aria-hidden="true" katana-click="suites.drawer.openFileExplorer.testWrapperFile" title="Open File Explorer"></i>
                    &nbsp;
                    <i class="fa fa-external-link-square" aria-hidden="true" katana-click="suites.drawer.openDatafile" title="View File"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label class="suites-label">Results Directory</label>
            </div>
            <div class="col-sm-9">
                <div class="suites-input-div">
                    <input key="Resultsdir" title="Absolute path to the Results directory">
                </div>
                <div class="suites-icon-input-div">
                    <i class="fa fa-folder-open" aria-hidden="true" katana-click="suites.drawer.openFileExplorer.logsOrResultsDir" title="Open File Explorer"></i>
                    &nbsp;
                    <i class="fa fa-external-link-square suites-hidden-element" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>