{% load suite_filters %}
<div class="suites-intentional-space-x" id="suites-display-template">
    <div class="suites-internal-space">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th scope="row">Name</th>
                <td key="Name">{{ data.TestSuite.Details.Name }}</td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td key="Title">{{ data.TestSuite.Details.Title }}</td>
            </tr>
            <tr>
                <th scope="row">State</th>
                <td key="State">{{ data.TestSuite.Details.State }}</td>
            </tr>
            <tr>
                <th scope="row">Engineer</th>
                <td key="Engineer">{{ data.TestSuite.Details.Engineer }}</td>
            </tr>
            <tr>
                <th scope="row">Date</th>
                <td key="Date">{{ data.TestSuite.Details.Date }}</td>
            </tr>
            <tr>
                <th scope="row">Time</th>
                <td key="Time">{{ data.TestSuite.Details.Time }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="suites-internal-space">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th scope="row">Execution Type</th>
                <td key="type.@exectype">{{ data.TestSuite.Details.type|get_attribute:"exectype"|convert_executiontypes }}</td>
            </tr>
            <tr>
                <th scope="row">Attempts (If Applicable)</th>
                {% if data.TestSuite.Details.type|get_attribute:"Number_Attempts" != None %}
                <td key="type.@Number_Attempts">{{ data.TestSuite.Details.type|get_attribute:"Number_Attempts" }}</td>
                {% else %}
                <td key="type.@Max_Attempts">{{ data.TestSuite.Details.type|get_attribute:"Max_Attempts" }}</td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">On Error (Default)</th>
                <td key="default_onError.@action">{{ data.TestSuite.Details.default_onError|get_attribute:"action"|convert_on_errors }}</td>
            </tr>
            <tr>
                <th scope="row">Go To Step (If Applicable)</th>
                <td key="default_onError.@value">{{ data.TestSuite.Details.default_onError|get_attribute:"value" }}</td>
            </tr>
            <tr>
                <th scope="row">Input Data File</th>
                <td key="InputDataFile">{{ data.TestSuite.Details.InputDataFile }}</td>
            </tr>
            <tr>
                <th scope="row">TestWrapper File</th>
                <td key="TestWrapperFile">{{ data.TestSuite.Details.TestWrapperFile }}</td>
            </tr>
            <tr>
                <th scope="row">Results Directory</th>
                <td key="Resultsdir">{{ data.TestSuite.Details.Resultsdir }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>