<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suites</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'suites/css/suites.css' %}">
</head>
<body>
<div class="tool-bar">
    <div class="title"></div>
    <button class="button" katana-click="suites.landing.openNewFile">New</button>
    <button class="button" katana-click="suites.suiteViewer.close" style="display: none">Close</button>
    <button class="button" katana-click="suites.suiteViewer.save" style="display: none">Save</button>
</div>
<div class="csrf-container">{% csrf_token %}</div>
<div class="tab-template only">Suites</div>

<div id="body-div" auto-init="suites.landing.init">
    <div id="tree-div"></div>
    <div id="main-div" style="display: none">

    </div>
</div>

</body>
</html>